/* Global Styles */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}

.tab-pane {
    margin-top: 15px;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.github-link a:hover {
    color: #3b5998;
}

.error-404 {
    font-size: 8em;
}

.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.footer {
    padding-top: 2%;
    background-color: #222;
    color: gray;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .ace_editor {
        border: 1px solid lightgray;
        height: 200px;
        width: 100%;
        float: left;
    }

    .scrollmargin {
        height: 80px;
        text-align: center;
    }
}
