/* Global Styles */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}

.tab-pane {
    margin-top: 15px;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.github-link a:hover {
    color: #3b5998;
}

.link-black {
    color: black;
}

.error-404 {
    font-size: 8em;
}

/* nav bar */
.container{
    /* position: relative; */
    margin-left: 10px;
    margin-right: 10px;
    width:98%;
}

.navbar-default .navbar-brand {
    color:#337ab7
}
.navbar-default .navbar-brand:hover {
    color:#337ab7;
}
.navbar-default .navbar-brand:focus {
    color:#337ab7;
}
.nav.navbar-nav.navbar-right li a {
    color:#337ab7;
}

/* home page */

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #337ab7;
}

hr2 {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}

.sectionHome {
    padding: 3em 0 4em 0;
}

.bg-dark {
    background-color: #337ab7;
}

.bg-light {
    background-color: white;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-default {
    color: #337ab7;
}

.btn-home {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
}

.btn-xl {
    padding: 1rem 2rem;
 }

 .btn-home-dark{
   background-color: #337ab7;
   color: white !important;
 }

 .btn-home-light{
   background-color: lightgray;
   color: black;
 }

.photo1 {
   background-image: url("../images/code.png");

   height: 450px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .ace_editor {
        border: 1px solid lightgray;
        height: 200px;
        width: 100%;
        float: left;
    }

    .scrollmargin {
        height: 80px;
        text-align: center;
    }
}

.form-control[readonly] {
    cursor: default;
}

.navbar-brand {
}

.navbar-brand>img {
    display: inline-block;
}

.nav-tabs li {
    cursor: pointer;
}

.nav-pills li {
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 10px 16px;
}

.tabu {
  margin-left:3em;
}

footer {
    padding: 3em 0 0 0;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
    background-color: #3A3F44;
    color: rgba(255, 255, 255, 0.8);
}

footer a {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8) !important;
}

footer .copyright {
    margin-top: 1em;
    padding: 1em 0 1em 0;
    font-size: 13px;
    text-align: right;
    border-top: solid 2px rgba(255, 255, 255, 0.2);
    background: rgba(0,0,0, 0.1);
}

footer .copyright span {
    margin: 0 8px;
}
