/* Global Styles */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}

.tab-pane {
    margin-top: 15px;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.github-link a:hover {
    color: #3b5998;
}

.link-black {
    color: black;
}

.error-404 {
    font-size: 8em;
}

.footer {
    padding-top: 2%;
    background-color: #337ab7;
    color: white;
}

/* nav bar */
.navbar-default .navbar-brand {
    color:#337ab7
}
.navbar-default .navbar-brand:hover {
    color:#337ab7;
}
.navbar-default .navbar-brand:focus {
    color:#337ab7;
}

.nav.navbar-nav.navbar-right li a {
    color:#337ab7;
}

/* home page */

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #337ab7;
}

hr2 {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}
  
.bg-dark {
    background-color: #337ab7;
}
  
.bg-light {
    background-color: white;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-default {
    color: #337ab7;
}
  
section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
}

.btn-home {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
}
  
.btn-xl {
    padding: 1rem 2rem;
 }
  
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .ace_editor {
        border: 1px solid lightgray;
        height: 200px;
        width: 100%;
        float: left;
    }

    .scrollmargin {
        height: 80px;
        text-align: center;
    }
}
