<footer class="footer">
  <center>
    <div class="container">
      If you find this project useful, contribute with us at
      <a class="link-black" href="https://github.com/NeoResearch/neocompiler-eco">
        <i class="fab fa-lg fa-github"></i> NeoCompiler Eco
      </a> or donate some coins to
      <strong>AJX1jGfj3qPBbpAKjY527nPbnrnvSx9nCg</strong>.<br>
      That will certainly help maintaining our servers, improving the interface and extending the tool for many other
      languages.<br>
      We are happy with your visit and hoping you may use it to create amazing stuff :)<br>
    </div>
    <div class="copyright">
      <div class="container">
        MIT License
        <span>•</span>
        <span id="footerversion">Get Source on GitHub</span>
        <span>•</span>
        NeoResearch community
        <span>•</span>
        Copyleft 2017-2018
      </div>
    </div>
  </center>
</footer>
