<footer class="footer">
  <center>
    <div class="copyright">
      <div class="container">
        MIT License
        <span>•</span>
        <span id="footerversion"> <a href="https://github.com/NeoResearch/neo3compiler-eco"> Get Source on <i class="fab fa-lg fa-github"></a></i></span>
        <span>•</span>
        <span id="footerversion"> <a href="https://github.com/NeoResearch/neo3compiler-eco/deployments"> github-pages <i class="fas fa-rocket"></a></i></span>          
        <span>•</span>
        NeoResearch community
        <span>•</span>
        Copyleft 2017-2020
      </div>
    </div>
  </center>
</footer>
