<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" target="_blank">
                <img src="images/prototype-icon-eco.png" width="20px"/>&nbsp;NeoCompiler Eco
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- <div id="ecoinfo" style="position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; background-color:#dddddd"><b>Important information:</b> Eco "TestNet" (Shared PrivateNet https://neocompiler.io) is reset every 12-hours (UTC). Do not keep any valuable information there, as the server will be fully erased periodically. (<a href="javascript:$('#ecoinfo')[0].style.display = 'none';void(0);">dismiss</a>)</div> -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<b>Network Information (<a href="javascript:updateHeaderNetworkInfo();void(0);">refresh</a>):</b><div id="headernodeinfo"></div><div id="headerrpcinfo"></div></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/ecolab" target="_blank">EcoLab</a>
                </li>
                <li>
                    <a id="headerNeoScanLink" >
                        NeoScan-PrivateNet
                    </a>
                </li>
                <li><a href="https://github.com/NeoResearch/neocompiler-eco" target="_blank">GitHub</a>
                </li>
                <li><a href="#/about" target="_blank">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<script>
    updateHeaderNetworkInfo();

    function updateHeaderNetworkInfo()
    {
     	$("#headernodeinfo")[0].innerHTML="";
      $("#headerrpcinfo")[0].innerHTML="&nbsp;&nbsp;&nbsp;&nbsp;RPC node: <i>"+BASE_PATH_CLI+"</i>";
      textRPC = "&nbsp;&nbsp;&nbsp;&nbsp;RPC: <i>"+BASE_PATH_CLI+"</i>";
      $("#headerrpcinfo")[0].innerHTML=textRPC;
      if(BASE_PATH_CLI == "https://node1.neocompiler.io") {
        $.getJSON(BASE_PATH_NEOSCAN+"/api/main_net/v1/get_block/1", function(result) {
           textRPC = "&nbsp;&nbsp;&nbsp;&nbsp;RPC: <i>"+BASE_PATH_CLI+"</i>&nbsp;&nbsp;&nbsp;&nbsp;Expires in ";
           dtExpire = result.time+(12*60*60);
           dtDiff = (dtExpire*1000 - Date.now())/1000;
           if(dtDiff < 60*30)
              $("#headerrpcinfo")[0].innerHTML=textRPC+"<div style='color:#ff0000'>"+(dtDiff/60).toFixed(1)+" min</div>";
           else
              $("#headerrpcinfo")[0].innerHTML=textRPC+(dtDiff/(60*60)).toFixed(1)+" hrs";
        });
      }

      $("#headernodeinfo")[0].innerHTML = "";

    	$.getJSON(BASE_PATH_PY+"/v1/status", function(result) {
                $("#headernodeinfo")[0].innerHTML+="&nbsp;&nbsp;&nbsp;&nbsp;<a href='"+BASE_PATH_PY+"' target='_blank'>"+result.version+" H:"+result.current_height+" </a>";
    	}); // Python user agent + block count

      $.post(BASE_PATH_CLI, '{ "jsonrpc": "2.0", "id": 5, "method": "getversion", "params": [""] }', function(result2) {
        $.post(BASE_PATH_CLI, '{ "jsonrpc": "2.0", "id": 5, "method": "getblockcount", "params": [""] }', function(result3) {
          $.post(BASE_PATH_CLI, '{ "jsonrpc": "2.0", "id": 5, "method": "getrawmempool", "params": [""] }', function(result4) {
            $("#headernodeinfo")[0].innerHTML+=" "+result2.result.useragent;
            $("#headernodeinfo")[0].innerHTML+=" H:"+result3.result;
            $("#headernodeinfo")[0].innerHTML+=" MP:"+result4.result.length;
          }); // mempool
        }); // NEO block count
      }); // NEO useragent

      $.getJSON(BASE_PATH_NEOSCAN+"/api/main_net/v1/get_highest_block", function(result5) {
        $("#headernodeinfo")[0].innerHTML+=" <a href='"+BASE_PATH_NEOSCAN+"/api/main_net/v1/get_highest_block"+"' target='_blank'> H':"+result5.index+"</a>";
      }); // neoscan top block

    }

    document.getElementById("headerNeoScanLink").setAttribute("target","_blank");
    document.getElementById("headerNeoScanLink").setAttribute("href",BASE_PATH_NEOSCAN);
</script>
