<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><span class="glyphicon glyphicon-leaf">NeoCompiler.io</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Utils<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="partials/utils-converter.html" 
                                target="popup" 
                                onclick="window.open('partials/utils-converter.html','popup','width=600,height=100'); return false;">
                                Conversor
                            </a>
                        </li>
                        <li><a href="#/utils2">Utils2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://neoscan.neocompiler.io" 
                        target="popup" 
                        onclick="window.open('https://neoscan.neocompiler.io','popup','width=600,height=600'); return false;">
                        NeoScan-PrivateNet
                    </a>
                </li>
                <li><a href="#/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

