.menu-mobile {
    display: none;
}

.menuMobile {
    display: none;
}

@media (max-width: 1024px) {
    .select2-container--default .select2-selection--single {
        background: #00AF92 url('../down-arrow.png') 110% 100% no-repeat!important;
    }
    .menu-mobile {
        display: block;
        padding: 30px;
        position: absolute;
        right: 0;
    }
    .menu-mobile a {
        padding-top: 10px;
        float: left;
    }
    .menu-mobile i {
        color: white!important;
        margin-top: 20px!important;
    }
    .tab-pane.fade {
        margin-top: 120px;
    }
    .version-compile {
        float: left;
        margin-top: 30px;
        width: 100%;
    }
    /*#version-compile .select2 {
        width: 100%!important;
        float: left!important;
    }
    .version-compile span {
        float: left;
        width: 100%;
        font-size: 45px;
    }
    .version-compile {
        float: left;
        width: 100%;
    }
    .version-compile form {
        float: left!important;
        width: 100%!important;
    }
    .version-compile select {
        float: left!important;
        width: 100% !important;
    }*/
    header ul {
        height: 200px!important;
    }
    .nav-link img {
        width: 180px!important;
        margin-top: -15px!important;
    }
    header ul li {
        height: 200px!important;
        width: 250px!important;
    }
    #collapseMenuMobile {
        position: absolute;
        margin-top: 200px;
        z-index: 60000000000000!important;
        right: 0;
    }
    #collapseMenuMobile {
        float: right;
        width: 50% !important;
    }
    #collapseMenuMobile ul {
        float: left;
        width: 50% !important;
        height: 85%!important;
        overflow-x: scroll!important;
        border-left: 5px solid #0aac7c;
    }
    #collapseMenuMobile a {
        color: white;
        font-size: 20px;
    }
    #collapseMenuMobile li {
        float: left;
        padding: 10px;
        width: 100% !important;
    }
    #collapseMenuMobile li i {
        float: left;
        margin-right: 10px;
    }
    #collapseMenuMobile li p {
        padding: 10px;
        font-size: 40px;
    }
    .collapseMore {
        position: fixed;
    }
    .errors-warnings .display-erros {
        height: auto!important;
    }
    .collapseMore img {
        width: 150px!important;
        right: 0;
    }
    #collapseMenuMobile li i {
        font-size: 100px;
    }
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .nav li {
        height: 200px!important;
        background: transparent;
    }
    #collapseMenuMobile ul .nav-item {
        height: 150px!important;
    }
    .btn-compile {
        float: left;
        width: 100%;
    }
    .errors-warnings {
        float: left;
        width: 100%;
    }
    #aceEditor {
        font-size: 25px!important;
        height: 1000px!important;
    }
    .select2-container--default .select2-selection--single {
        background: #00AF92!important;
        color: white!important;
        -webkit-appearance: caret!important;
        -moz-appearance: caret!important;
        appearance: caret!important;
        border-color: #00AF92;
        height: 120px!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 130px!important;
        font-size: 35px!important;
    }
    .select2-results__option {
        font-size: 50px!important;
    }
    .select2-container--default .select2-results>.select2-results__options {
        max-height: 900px!important;
    }
    .nav {
        right: 0!important;
    }
    li .label-success {
        font-size: 20px!important;
    }
    li .label-info {
        font-size: 20px!important;
        margin-top: 10px;
    }
    .compilertopselect {
        float: left!important;
        width: 100% !important;
    }
    .compilertopselect select {
        float: left!important;
        width: 49%!important;
        height: 150px!important;
    }
    .errors-warnings h4 {
        font-size: 56px;
    }
    .btn-compile {
        font-size: 35px;
    }
    #compiler .select2 {
        float: left!important;
        padding-right: 10px;
        width: 49%!important;
    }
    .fas .fa-lg .fa-code-branch {
        position: absolute;
        z-index: 300000!important;
    }
    input {
        font-size: 25px!important;
    }
    textarea {
        font-size: 25px!important;
    }
    select {
        font-size: 25px!important;
    }
    button {
        float: left!important;
        width: 100%!important;
        font-size: 22px!important;
    }
    .pulse {
        float: left!important;
        width: 90% !important;
        opacity: 0.9!important;
        font-size: 40px!important;
        text-align: center!important;
        top: 85%!important;
        position: fixed!important;
    }
    .breadcrumb i {
        font-size: 45px!important;
    }
    .breadcrumb a {
        font-size: 45px!important;
    }
    .containerprincipal {
        position: absolute!important;
        float: left!important;
        width: 100% !important;
        padding: 0 15px 0 50px!important;
        max-width: 100%!important;
        min-width: 100%!important;
    }
    #aceEditor {
        font-size: 35px!important;
    }
    .preloader {
        display: none!important;
    }
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (max-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 800px;
    }
}