html,
body {
    background: #263A40;
    --bs-body-bg: #223237;
    --bs-emphasis-color: #3eff34;
    --bs-body-color: bs-white-rgb;
    --bs-secondary-color: #bccff0;
}

/* ALL NAV SHOULD BE IN FRONT */
.nav {
    z-index: 1000000 !important;
}

/* ======================= */
/* BEGIN TOP PAGE TOP INFO NAV STYLE */
.top-info-menu {
    position: fixed;
    background: #223237;
    float: left;
    left: 100px;
    width: 100%;
    height: 79px !important;
    z-index: 1000000 !important;
}

/* END TOP PAGE TOP INFO NAV STYLE */
/* ======================= */

/* ======================= */
/* BEGIN VERTICAL MENU STYLE */
.main-menu {
    position: fixed;
    float: left;
    width: 100px;
    display: block;
    height: 100% !important;
    background: #1D2C30;
    overflow-x: auto;
}

.main-menu li {
    display: inline-table;
    text-align: center;
    width: 100px;
    background: #1D2C30;
}

.main-menu li a p {
    margin-bottom: 10px !important;
    padding-right: 5px;
    padding-left: 5px;
}

.main-menu li a:hover {
    background: #557883;
    border-bottom: 5px solid #00AF92;
    color: white;
}

.main-menu li a {
    color: white;
    border-bottom: 5px solid transparent;
    padding: 10px 0px 0px 0px;
    bottom: 0 !important;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu .active {
    background: #25515e;
    border-bottom: 5px solid #00AF92;
    color: white;
}

/* Logo Item of main-menu no hover */
.noHoverLogoNeoCompiler {
    pointer-events: none;
}

/* END VERTICAL MENU STYLE */
/* ======================= */

/* ======================= */
/* BEGIN Header buttons Wallet and network */
.options-in-the-header {
    position: fixed;
    float: left;
    right: 0;
    top: 0;
    padding: 10px 70px 0 0;
    z-index: 2000000 !important;
}

.spanHeader {
    font-size: 15px;
    background: #00AF92;
    padding: 2px;
}

/* END Header buttons Wallet and network */
/* ======================= */

/* ======================= */
/* Begin Navigation tab style */
.aceLITabs {
    background-color: #223237 !important;
    float: left;
    position: relative !important;
    z-index: 0 !important;
    width: 100%;
    /*    height: 45px!important; */
    /*    max-height: 35px!important;*/
}

.aceLITabs li {
    background: #09af92 !important;
    color: white !important;
    text-align: center !important;
    float: left;
    width: 10%;
    padding-top: 0.4% !important;
    padding-bottom: 0.4% !important;
    /*border-right: 1px solid #07a58a !important;
    max-height: 35px!important;*/
}

.aceLITabs li:hover {
    border: none !important;
    text-align: left;
    background: #07a58a !important;
    /*
    border-bottom: 1px solid white!important;    
    padding: 0!important;
    padding-top: 4px!important;*/
}

.aceLITabs span:hover {
    border: none !important;
    text-align: left;
    /*padding: 0!important;*/
}

.aceLITabs li a {
    text-decoration: none !important;
    color: white !important;
    text-align: left;
}

.aceLITabs li a:hover {
    color: white !important;
    text-align: left;
    /*
    padding: 0!important;
    border: none!important;*/
}

/* End Navigation tab style of ACE */
/* ======================= */

.containerForCompilingResult {
    margin-top: 20px;
    float: left;
    width: 100%;
    background: #162124;
    padding: 0px;
}

.standardContainer {
    background: #223237;
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.standardContainer label {
    font-size: 13px !important;
}

.swal-input,
.standardContainer input {
    background: #444444;
    border-color: #00AF92;
    color: white !important;
}

.swal-input:focus,
.standardContainer input:focus {
    background: #00AF92;
    border-color: #00AF92;
    color: white !important;
}

.standardContainer option {
    background: #00AF92;
    color: white;
}

.standardContainer input:focus {
    background: #00AF92;
    border-color: #1D2C30;
    color: white !important;
}

.checkedOption option:checked {
    background: #13ae2b;
    color: white;
}

.generalContainer {
    margin-top: 15px;
    color: white;
}

.green-title {
    float: left;
    width: 100%;
    background: #747287;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 30px;
    font-size: 16px;
}

.breadcrumb a {
    color: white !important;
}

.nav-links {
    padding-top: 20px;
}

.form-select {
    background-color: #00AF92;
    color: white !important;
    border-radius: 20px !important;
}

.form-select:disabled {
    background-color: transparent;
}

/* Begin Simple BTN */
.btn-info {
    background: #00AF92 !important;
    border-color: #00AF92 !important;
}

.btn-info:hover {
    background: #1e1e1e !important;
    border-color: #ffffff !important;
}

.btn-info:focus {
    background: #00AF92 !important;
    border-color: #ffffff !important;
}

.btn-1 {
    border-radius: 20px !important;
    border: 1px solid #1D2C30;
    text-align: center !important;
    color: white !important;
    background: #00AF92;
}

.btn-1:hover {
    border: 1px solid #00AF92;
    color: #00AF92;
    background: #95f7e7;
}

.btn-1-noColor {
    border-radius: 20px !important;
    border: 1px solid #1D2C30;
    text-align: center !important;
}

.btn-1-noColor:hover {
    border: 1px solid #00AF92;
    color: #00AF92;
}

/* should be used together */
.btn-1-darker {
    background: #154d44;
}

.btn-1-darker-danger {
    background: #5f1b1d;
}

.btn-1-darker-danger:hover {
    background: #f25e63;
}

/* END SIMPLE BTN */

.preloader .spinner-grow {
    background: #00AF92;
    position: absolute;
    top: 50%;
    float: left;
    width: 100%;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align-last: center;
    left: 50%;
}

#collapseNEFAfterCompilation {
    transition: height 0.5s;
    -moz-transition: height 0.5s;
    /* Firefox 4 */
    -webkit-transition: height 0.5s;
    /* Safari and Chrome */
    -o-transition: height 0.5s;
    /* Opera */
}

.colapse-nef {
    margin-top: 20px;
    margin-bottom: 15px;
    background: #1D2C30;
    float: left;
    width: 100%;
    padding: 10px;
    border-top: 10px solid #00AF92;
}

#codeabi {
    resize: none !important;
}

input {
    outline: none !important;
}

input:focus {
    outline: none !important;
    border-color: transparent !important;
}

textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 5px solid #00AF92;
    resize: none;
    outline: none !important;
    color: white;
}

textarea:focus {
    outline: none !important;
    border-color: transparent !important;
}

.pulse {
    animation: pulse 0.7s infinite, fade 500ms;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    font-size: 15px !important;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.blink_element {
    animation: buttonPulse 1s linear infinite, fade 500ms;
}

.blink_element_pause {
    animation-play-state: paused !important;
}

@keyframes buttonPulse {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ============================  */
/* this is due to bootstrap 5.3 */
.table thead td,
.table tbody td {
    border-top: transparent !important;
}

.table td:hover {
    background-color: #0aab7b;
}

.twalllet td {
    border-top: 1px solid #0aab7b !important;
}

.form-control:disabled,
.form-control[readonly] {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px dashed #263A40;
    color: #0aab7b !important;
}

/* ============================  */


/* Begin Tutorial tab style */
#hidetutorial {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    transition: opacity 1s;
    padding: 1px;
    z-index: 1000000;
    display: none;
}

#closetutorial {
    display: none;
}

#nexttutorial {
    display: none;
}

.popover {
    z-index: 10000000;
}

/* End Tutorial tab style */

/* BEGIN ACE */
#aceEditor {
    position: relative;
    margin-top: 0px;
    margin-bottom: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    height: 350px;
    border-top: 8px solid #00AF92;
    background: #223237;
}

.ace_print-margin {
    display: none !important;
}

.ace_gutter-active-line {
    background: #162124 !important;
}

.ace_gutter {
    background: #1D2C30 !important;
}

.ace_active-line {
    background: #1D2C30 !important;
}

.preloader {
    z-index: 3000000 !important;
}

.preloader.fade {
    transition: all 0.2s;
    transform: translateX(1rem);
}

.preloader.fade.show {
    transform: translateX(0rem);
}

/* This can be used for transition between tabs to be slower and with effects
.tab-pane.fade {
    transition: all 0s;
    transform: none;
}*/

/* OTHER
*[contenteditable='true']:hover,
*[contenteditable='true']:focus {
    border: 1px solid #ccc;
    padding: 5px 10px;
}*/