# ================================================================================
# ========== WELCOME TO THE NEOCOMPILER ECO NEO BLOCKCHAIN MICROSERVICE  =========
# ================================================================================
version: "3.7"

networks:
  private_net:
    driver: bridge
  inside_auto_heal:
    internal: true

services:
# ================================================================================
# ================== OPEN CONTAINER WITH NEO-CLI CONSENSUS NODES AND RPC =========
  eco-neo-csharp-node1-running:
    image: eco-neo-csharp-node:latest
    container_name: "eco-neo-csharp-node1-running"
    privileged: true
    ports:
      - "20333:20333"
      - "30333:10332"
    volumes:
      - ./neo-cli/configs/protocol.json:/opt/node/neo-cli/protocolNeoCompiler.json
      - ./neo-cli/configs/config1.json:/opt/node/neo-cli/config.json
      - ./neo-cli/configs/plugins/appLogConfig.json:/opt/node/neo-cli/Plugins/ApplicationLogs/config.json
      - ./neo-cli/configs/plugins/levelDBConfig.json:/opt/node/neo-cli/Plugins/LevelDBStore/config.json
      - ./neo-cli/configs/plugins/rpcClient.json:/opt/node/neo-cli/Plugins/RpcClient/config.json
      - ./neo-cli/configs/plugins/rpcServer.json:/opt/node/neo-cli/Plugins/RpcServer/config.json
      - ./neo-cli/configs/plugins/rpcNep5Tracker.json:/opt/node/neo-cli/Plugins/RpcNep5Tracker/config.json
      - ./neo-cli/configs/plugins/systemLog.json:/opt/node/neo-cli/Plugins/SystemLog/config.json
      - ./neo-cli/wallets/wallet1.json:/opt/node/neo-cli/wallet1.json
      - ./nodes-logs/logs-neocli-node1:/opt/node/neo-cli/Logs
    healthcheck:
      test:
        - CMD
        - bash
        - '-c'
        - exec 6<>/dev/tcp/127.0.0.1/20333
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 3000s
    labels:
      autoheal: 'true'
    networks:
      - private_net
      - inside_auto_heal

  eco-neo-csharp-node2-running:
    image: eco-neo-csharp-node:latest
    container_name: "eco-neo-csharp-node2-running"
    privileged: true
    ports:
      - "20334:20334"
      - "30334:10332"
    volumes:
      - ./neo-cli/configs/protocol.json:/opt/node/neo-cli/protocolNeoCompiler.json
      - ./neo-cli/configs/config2.json:/opt/node/neo-cli/config.json
      - ./neo-cli/configs/plugins/appLogConfig.json:/opt/node/neo-cli/Plugins/ApplicationLogs/config.json
      - ./neo-cli/configs/plugins/levelDBConfig.json:/opt/node/neo-cli/Plugins/LevelDBStore/config.json
      - ./neo-cli/configs/plugins/rpcClient.json:/opt/node/neo-cli/Plugins/RpcClient/config.json
      - ./neo-cli/configs/plugins/rpcServer.json:/opt/node/neo-cli/Plugins/RpcServer/config.json
      - ./neo-cli/configs/plugins/rpcNep5Tracker.json:/opt/node/neo-cli/Plugins/RpcNep5Tracker/config.json
      - ./neo-cli/wallets/wallet2.json:/opt/node/neo-cli/wallet2.json
      - ./nodes-logs/logs-neocli-node2:/opt/node/neo-cli/Logs
    healthcheck:
      test:
        - CMD
        - bash
        - '-c'
        - exec 6<>/dev/tcp/127.0.0.1/20334
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      autoheal: 'true'
    networks:
      - private_net
      - inside_auto_heal

  eco-neo-csharp-node3-running:
    image: eco-neo-csharp-node:latest
    container_name: "eco-neo-csharp-node3-running"
    privileged: true
    ports:
      - "20335:20335"
    volumes:
      - ./neo-cli/configs/protocol.json:/opt/node/neo-cli/protocolNeoCompiler.json
      - ./neo-cli/configs/config3.json:/opt/node/neo-cli/config.json
      - ./neo-cli/configs/plugins/appLogConfig.json:/opt/node/neo-cli/Plugins/ApplicationLogs/config.json
      - ./neo-cli/configs/plugins/levelDBConfig.json:/opt/node/neo-cli/Plugins/LevelDBStore/config.json
      - ./neo-cli/configs/plugins/rpcNep5Tracker.json:/opt/node/neo-cli/Plugins/RpcNep5Tracker/config.json
      - ./neo-cli/wallets/wallet3.json:/opt/node/neo-cli/wallet3.json
      - ./nodes-logs/logs-neocli-node3:/opt/node/neo-cli/Logs
    healthcheck:
      test:
        - CMD
        - bash
        - '-c'
        - exec 6<>/dev/tcp/127.0.0.1/20335
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      autoheal: 'true'
    networks:
      - private_net
      - inside_auto_heal

  eco-neo-csharp-node4-running:
    image: eco-neo-csharp-node:latest
    container_name: "eco-neo-csharp-node4-running"
    privileged: true
    ports:
      - "20336:20336"
    volumes:
      - ./neo-cli/configs/protocol.json:/opt/node/neo-cli/protocolNeoCompiler.json
      - ./neo-cli/configs/config4.json:/opt/node/neo-cli/config.json
      - ./neo-cli/configs/plugins/appLogConfig.json:/opt/node/neo-cli/Plugins/ApplicationLogs/config.json
      - ./neo-cli/configs/plugins/levelDBConfig.json:/opt/node/neo-cli/Plugins/LevelDBStore/config.json
      - ./neo-cli/configs/plugins/rpcNep5Tracker.json:/opt/node/neo-cli/Plugins/RpcNep5Tracker/config.json
      - ./neo-cli/wallets/wallet4.json:/opt/node/neo-cli/wallet4.json
      - ./nodes-logs/logs-neocli-node4:/opt/node/neo-cli/Logs
    healthcheck:
      test:
        - CMD
        - bash
        - '-c'
        - exec 6<>/dev/tcp/127.0.0.1/20336
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      autoheal: 'true'
    networks:
      - private_net
      - inside_auto_heal

  eco-neo-csharp-noderpc1-running:
    image: eco-neo-csharp-node:latest
    container_name: "eco-neo-csharp-noderpc1-running"
    privileged: true
    ports:
      - "20337:20337"
      - "30337:10332"
    volumes:
      - ./neo-cli/configs/protocol.json:/opt/node/neo-cli/protocolNeoCompiler.json
      - ./neo-cli/configs/config1RPC.json:/opt/node/neo-cli/config.json
      - ./neo-cli/configs/plugins/appLogConfig.json:/opt/node/neo-cli/Plugins/ApplicationLogs/config.json
      - ./neo-cli/configs/plugins/levelDBConfig.json:/opt/node/neo-cli/Plugins/LevelDBStore/config.json
      - ./neo-cli/configs/plugins/rpcClient.json:/opt/node/neo-cli/Plugins/RpcClient/config.json
      - ./neo-cli/configs/plugins/rpcServer.json:/opt/node/neo-cli/Plugins/RpcServer/config.json
      - ./neo-cli/configs/plugins/rpcNep5Tracker.json:/opt/node/neo-cli/Plugins/RpcNep5Tracker/config.json
      - ./neo-cli/configs/plugins/statesDumper.json:/opt/node/neo-cli/Plugins/StatesDumper/config.json
      - ./neo-cli/getIncStorage.sh:/opt/getIncStorage.sh
      - ./nodes-logs/logs-neocli-noderpc:/opt/node/neo-cli/Logs
    depends_on:
      - eco-neo-csharp-node1-running
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:30337"]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      autoheal: 'true'
    networks:
        - private_net
        - inside_auto_heal

# ================== OPEN CONTAINER WITH NEO-CLI CONSENSUS NODES AND RPC =========
# ================================================================================


# ================================================================================
# ================== AUTO REAL ===================================================
  eco-neo-autoheal:
    image: willfarrell/autoheal
    container_name: eco-neo-autoheal
    depends_on:
      - eco-neo-csharp-node1-running
      - eco-neo-csharp-node2-running
      - eco-neo-csharp-noderpc1-running
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
      - AUTOHEAL_INTERVAL=5
      - DOCKER_SOCK=/var/run/docker.sock
    networks:
      - inside_auto_heal
    restart: always
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
# ================== AUTO REAL ===================================================
# ================================================================================


# ================================================================================
# ======================= THANKS FOR CREATING ME =================================
# ================================================================================

