<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 cropLogo">
            <img class="img-responsive" src="./public/images/logo_neoresearch.png" style="width:320px;height:320px;">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="./public/images/prototype-icon-eco.png" style="width:256px;height:256px;">
        </div>
        <div class="col-md-4">
            <h2>NeoCompiler Eco</h2>

            <p>Welcome to NeoCompiler Eco(system), an open-source initiative for providing easy access to compilers for NEO platform.</p>
            <p>The mostly used Neo languages are currently supported: C#, Java, Python and Golang. If you wish to add another one to the list, <a href="https://github.com/NeoResearch/neocompiler-eco" target="_blank">talk to us!</a>.</p>
            <p></p>
        </div>

    </div>

    <!-- Team Members -->
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-lg-12">
            <h4>
              Contributions come from <a href="https://github.com/NeoResearch/neocompiler-eco/graphs/contributors">volunteers</a>,
              mostly within Neo Blockchain Ecosystem.
            </h4>
            <br />
        </div>

        <div class="col-lg-12">
            <h2 class="page-header">Notorious contributors</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars1.githubusercontent.com/u/17395762?s=400&v=4">

            <h3>Vitor Nazário Coelho<br>
                <small>Autonomous Researcher and contributor of distinct open-source projects.</small>
                <small><a href="https://vncoelho.github.io/">https://vncoelho.github.io/</a></small>
            </h3>
             <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/vncoelho" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/290989?s=400&v=4">

            <h3>Igor Machado Coelho<br>
                <small>Professor in Computer Science Department at State University of Rio de Janeiro (UERJ), Rio de Janeiro/Brazil.
                He is one of the creators and maintainer of the OptFrame project, a framework for combinatorial optimization and co-founder of distinct open-source projects and initiatives, including CombView language
                </small>
            </h3>
            <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/igormcoelho" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars0.githubusercontent.com/u/30883599?s=400&v=4">

            <h3>Fabio Henrique Cardoso<br>
                <small>Computer Science Graduate Student at UERJ.</small>
            </h3>
            <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/FabioRick" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- /.container -->

<script>
    //Check current if refresh interval was set and, then, cancel it
    stopAllEcoLabFrontEndTimeoutIntervals();
</script>
