<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" src="public/images/logo.png" style="width:256px;height:256px;">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="public/images/prototype-icon-eco.png" style="width:256px;height:256px;">
        </div>
        <div class="col-md-4">
            <h2>NeoCompiler Eco</h2>

            <p>Welcome to NeoCompiler Eco(system), an open-source initiative for providing easy access to compilers for NEO platform.</p>
            <p>The mostly used Neo languages are currently supported: C#, Java, Python and Golang. If you wish to add another one to the list, <a href="https://github.com/NeoResearch/neocompiler-eco" target="_blank">talk to us!</a>.</p>
            <p></p>
        </div>

    </div>

    <!-- Team Members -->
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars1.githubusercontent.com/u/17395762?s=400&v=4">

            <h3>Vitor Nazário Coelho<br>
                <small>Researcher at UFF, Niterói.</small>
            </h3>
             <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/vncoelho" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/290989?s=400&v=4">

            <h3>Igor Machado Coelho<br>
                <small>Professor at UERJ, Rio de Janeiro.</small>
            </h3>
            <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/igormcoelho" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="https://avatars0.githubusercontent.com/u/30883599?s=400&v=4">

            <h3>Fabio Henrique Cardoso<br>
                <small>Student at UERJ, Rio de Janeiro.</small>
            </h3>
            <!-- <p></p>  use it to tels about this member jobs in the project-->
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social github-link"><a href="https://github.com/FabioRick" data-toggle="tooltip"
                                                            data-placement="top" title="GitHub"><i
                        class="fab fa-lg fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- /.container -->

<script>
    //Check current if refresh interval was set and, then, cancel it
    if(refreshIntervalId!=0)
      clearInterval(refreshIntervalId);
</script>
