<div class="col-md-12">
  <div class="row bg-light sectionHome">
    <div class="container text-center">
        <div class="row">
            <h1>
                <p class="text-black">Easy way to code<br></p>
            </h1>
            <h4>
                <p class="text-black">You can do it anywhere!<br>Using our page on desktop or mobile!<br></p>
            </h4>
            <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=neoresearch&repo=neocompiler-eco&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
        <hr>
        <div class="row">
            <!--<div class="col-lg-6 text-center">-->
                <br><p class="text-black">NeoCompiler Eco can help you edit, build and test your Smart Contract</p><br>
                <a class="btn-home btn-home-dark btn-xl sr-button" href="#ecolab">Get started</a>
            <!--</div>-->
            <!--
            <div class="col-lg-6 text-center">
                <br><p class="text-black">Download a mobile version of NeoCompiler Eco</p><br>
                <a href="https://gist.github.com/vncoelho/af931ab9d99b711ef1cb53b1d2f3f464/raw/e6017633c8f7b5be07984bf4928e12b2f5af1752/NeoCompilerEco-v1.5.apk" class="btn-home btn-home-light btn-xl sr-button" href="#neoeditor">Android APK (v1.5)</a>
            </div>
            -->
        </div>
    </div>
  </div>
  <div class="row photo1"></div>
  <div class="row bg-dark sectionHome">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white">Services</h2>
        </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="far fa-4x fa-edit text-white"></i>
                <h3 class="text-white">Code Editor</h3>
                <p class="text-white">Edit and create smart contracts in python and C# languages</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-cogs text-white"></i>
                <h3 class="text-white">Compiler</h3>
                <p class="text-white">Compile smart contracts in python, C#, GO and Java</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-hdd text-white"></i>
                <h3 class="text-white">Deploy</h3>
                <p class="text-white">Deploy your smart contract</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-bug text-white"></i>
                <h3 class="text-white">Test your code</h3>
                <p class="text-white">You can test your smart contract</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row photo1"></div>
  <div class="row bg-light sectionHome">
    <div class="container text-center">
        <div class="row">
            <h1>
                <p class="text-dark">Get to know our project and team</p>
            </h1>
        </div>
        <hr>
        <div class="row">
            <p class="text-dark">We are doing our best to provide the best experience ever!</p><br>
            <a class="btn-home btn-home-dark btn-xl sr-button" href="#about">Read more</a>
        </div>
    </div>
  </div>
</div>

<script>
    //Check current if refresh interval was set and, then, cancel it
    if(refreshIntervalId!=0)
      clearInterval(refreshIntervalId);
</script>
