<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Neo Editor</li>
            </ol>
        </div>
    </div>
    <div class="modal fade" id="TimeInfoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                <p>It can take up to 30 seconds... time for a coffee :)</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Compile</div>
        <div class="panel-body">
            <form id="formCompile" action="/compilex" style="margin-top: 10px;" method="post">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-target="#csharpcode" data-toggle="tab">C#</a></li>
                        <li><a data-target="#pythoncode" data-toggle="tab">Python</a></li>
                        <li><a data-target="#golangcode" data-toggle="tab">Go</a></li>
                        <li class="disabled"><a data-target="#javacode">Java ( not yet )</a></li> <!--- <li><a data-target="#javacode" data-toggle="tab">Java ( not yet )</a></li> -->
                        <li class="disabled"><a data-target="#soliditycode">Solidity ( not yet )</a></li> <!--- <li><a data-target="#soliditycode" data-toggle="tab">Solidity ( not yet )</a></li> -->
                    </ul>

                    <!-- /////////////////////////////////////////////////////////////////// -->
                    <!-- csharpcode -->
                    <div class="tab-content">
                        <div class="tab-pane active cont" id="csharpcode">
                                <div class="dropdown btn-group" style="margin-bottom: 10px">
                                    <a class="btn btn-sucess dropdown-toggle" data-toggle="dropdown">
                                        Select Example
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" id="ExampleList">
                                        <li><a onclick="setExample('0')">HelloWorld.cs</a></li>
                                        <li><a onclick="setExample('1')">ICO_Template.cs</a></li>
                                        <li><a onclick="setExample('2')">MyCheckWitness.cs</a></li>
                                        <li><a onclick="setExample('3')">Lock.cs</a></li>
                                        <li><a onclick="setExample('4')">StructExample.cs</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" id="code" name="codesend"/>
                                <pre id="editorCSharp">
using Neo.SmartContract.Framework;
using Neo.SmartContract.Framework.Services.Neo;
using System;
using System.Numerics;
namespace NeoContract1
{
    public class Contract1 : SmartContract
    {
        public static void Main()
        {
            Storage.Put(Storage.CurrentContext, &quot;Hello&quot;, &quot;World&quot;);
        }
    }
}
                                </pre>
                        </div>
                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- end csharpcode -->

                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- golang div -->
                        <div class="tab-pane cont" id="golangcode">
                            <input type="hidden" id="code_golang" name="codesend_golang"/>
                            <pre id="editorGolang">
package main

func Main() int {
	x := 10
	return x
}
                            </pre>
                        </div>
                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- end golang -->

                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- python div -->
                        <div class="tab-pane cont" id="pythoncode">
                            <input type="hidden" id="code_python" name="codesend_python"/>
                            <pre id="editorPython">
from boa.interop.Neo.Runtime import Notify, CheckWitness

def Main():
    OWNER=b'031a6c6fbbdf02ca351745fa86b9ba5a9452d785ac4f7fc2b7548ca2a46c4fcf4a'
    result = CheckWitness(OWNER)
    if result:
        print(&quot;OWNER is caller&quot;)
        return True
    return False
                            </pre>
                        </div>
                        <div class="tab-pane" id="javacode">
                            <input type="hidden" id="code_java" name="codesend_java"/>
                            <pre id="editorJava">Java</pre>
                        </div>
                        <div class="tab-pane" id="soliditycode">
                            <input type="hidden" id="code_sol" name="codesend_sol" rows="15" cols="100"/>
                            <pre id="editorSolidity">Solidity</pre>
                        </div>
                    </div>
                </div>
                <!-- end python div -->
                <!-- /////////////////////////////////////////////////////////////////// -->

                <!-- /////////////////////////////////////////////////////////////////// -->
                <!-- common submit button -->
                <button type="submit" id="compilebtn" style="margin-top: 5px;" class="btn btn-success" data-toggle="modal">Compile</button>
                <p><font size="1">Use CTRL+ALT+H to access the hotkeys informations</font></p>
                <h4>Compile Warning/Errors:</h4>
                <!-- end common submit button -->
                <!-- /////////////////////////////////////////////////////////////////// -->

                <textarea id="codewarnerr" readonly="readonly" rows="15" cols="100" placeholder="Warning/Errors in code..." class="form-control"></textarea>
                <h4>AVM (in hex):</h4>
                <textarea id="codeavm" name="codeavm" readonly="readonly" rows="5" cols="100" placeholder="AVM (in hex)" class="form-control"></textarea>
                <div class="dropdown btn-group">
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Download AVM
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="downloadMenu">
                        <li><a onclick="downloadAVM('0')">binary file</a></li>
                        <li><a onclick="downloadAVM('1')">hex code</a></li>
                    </ul>
                </div>
                <button data-toggle="collapse" data-target="#opcodesDiv" type="button" style="margin-left: 5px; margin-bottom: 5px; margin-top: 5px;" class="btn btn-info">AVM OPCODES</button>
                <input type="file" id="importAVMFile" accept=".avm,.AVM" onchange="ImportAVM()"><br>
                <div id="opcodesDiv" class="collapse">
                    <textarea id="opcodes" readonly="readonly" rows="5" cols="100" placeholder="AVM OPCODES" class="form-control"></textarea>
                    <button id="btn_downloadOpCode" style="margin-bottom: 5px; margin-top: 5px;" class="btn btn-warning">Download OpCodes</button>
                </div>
                <h4>ABI:</h4>
                <textarea id="codeabi" readonly="readonly" rows="5" cols="100" placeholder="ABI (JSON format)" class="form-control"></textarea>
            </form>
            <!-- end of compilex form -->
            <!-- /////////////////////////////////////////////////////////////////// -->
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Deploy contract to private net</div>
        <div class="panel-body">
            <form id="formdeploy" action="/deployx" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="contracthash">Contract</label>
                      <input id="contracthash" name="contracthash" class="form-control" placeholder="Script Hash" style="width: 100%; margin-bottom: 10px;"/>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="contractparams">Params</label>
                      <input id="contractparams" name="contractparams" value='""' class="form-control" placeholder="&quot;Parameters (in quotes)&quot;" style="width: 100%">
                    </div>
                  </div>

                  <div class="col-md-12 form-inline" style="margin-bottom: 10px">
                    <div class="form-group">
                      <select name="contractreturn" id="contractreturn" class="custom-select form-control" data-toggle="tooltip" data-placement="top" title="Signature (00), Boolean (01), Integer (02), Hash160 (03), Hash256 (04), ByteArray (05), PublicKey (06), String (07), Array (10), InteropInterface (f0), Void (ff).">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>10</option>
                        <option>f0</option>
                        <option>ff</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select name="wallet_deploy" class="custom-select form-control">
                        <option>w1.wallet</option>
                        <option>w2.wallet</option>
                        <option>w3.wallet</option>
                        <option>w4.wallet</option>
                      </select>
                      <!--input(id='contractreturn', name='contractreturn' placeholder="Return Code (Void=00, Bool=01, ...)")-->
                    </div>
                    <div class="form-group" style="margin-right: 8px">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="cbx_storage" id="cbx_storage" checked/> Storage
                        </label>
                      </div>
                    </div>
                    <div class="form-group" style="margin-right: 8px">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="cbx_dynamicinvoke" id="cbx_dynamicinvoke"/> Dynamic Invoke
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <button type="submit" id="deploybtn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Deploy</button>
                  </div>

                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Invoke contract in private net (Eco backend only)</div>
        <div class="panel-body">
            <form id="forminvoke" action="/invokex" method="post">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="invokehash">Contract</label>
                        <input id="invokehash" name="invokehash" class="form-control" placeholder="Script Hash"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="invokeparams">Params</label>
                        <input id="invokeparams" name="invokeparams" class="form-control" value='""' placeholder="Script Params"/>
                      </div>
                    </div>

                    <div class="col-md-12 form-inline" style="margin-bottom: 10px">
                      <div class="form-group">
                        <label for="attachneo">NEO</label>
                        <input id="attachneo" name="attachneo" class="form-control" value="0" placeholder="Send NEO"/>
                      </div>
                      <div class="form-group">
                          <select name="wallet_invoke" class="custom-select form-control">
                              <option>w1.wallet</option>
                              <option>w2.wallet</option>
                              <option>w3.wallet</option>
                              <option>w4.wallet</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="cbx_invokeonly" id="cbx_invokeonly"/> Test Invoke Only
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <button type="submit" id="invokebtn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Invoke by hash</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-heading">Invoke contract in private/testnets</div>
        <div class="panel-body">
            <form id="forminvokejs" method="post">
                <select name="invokenetworkjs" class="custom-select">
                  <option>Eco-privatenet</option>
                  <option>NEO-testnet</option>
                </select>
                <div class="form-group">
                    <div class="form-group">
                            Contract:<input id="invokehashjs" name="invokehashjs" placeholder="Script Hash" style="width: 100%"/>
                            Params:<input id="invokeparamsjs" name="invokeparamsjs" value='""' placeholder="Script Params" style="width: 100%"/>
                    </div>
                    <div class="form-group">
                            NEO: <input id="attachneojs" name="attachneojs" value="0" placeholder="Send NEO"/>
                            <select name="wallet_invokejs" class="custom-select">
                                <option>w1.wallet</option>
                                <option>w2.wallet</option>
                                <option>w3.wallet</option>
                                <option>w4.wallet</option>
                            </select>
                    </div>
                    <button type="submit" id="invokebtnjs" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Invoke by hash</button>
                </div>
            </form>
        </div>

    </div>

    <!-- div class="panel panel-info">
        <div class="panel-heading">Search contract in private net</div>
        <div class="panel-body">
            <form id="formsearch" action="/searchx" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input id="contracthash_search" name="contracthash_search" style="width: 100%" placeholder="Script Hash"/>
                    </div>
                    <button type="submit" id="searchbtn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Search by hash</button>
                </div>
            </form>
        </div>
    </div -->

    <div class="panel panel-info">
        <div class="panel-heading">Private Net TX's</div>
        <div class="panel-body">
            <button type="submit" onClick="searchForTXs()" id="btndrawRelayedTXs" style="margin-bottom: 10px;" class="btn btn-success btn-sm">Check TXs status</button><br>
            <div id="divRelayedTXs" class="table-responsive"></div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Private Net Messages</div>
        <div class="panel-body">
            <form id="formprivatenet" method="post">
                <textarea id="contractmessages" readonly="readonly" rows="15" cols="100" placeholder="Contract messages..." class="form-control"></textarea><br>
                <textarea id="contractmessagesnotify" readonly="readonly" rows="5" cols="100" placeholder="Contract messages Notify..." class="form-control"></textarea><br>
            </form>
        </div>
    </div>

</div>
<script>
    $(document).ready(function(){
        setInterval(function() {
            searchForTXs();
        }, 30000); // 30000 milsec
        console.log("checking txs");
    });

    var neoScanTXBaseURL = NEOSCAN_PATH + "/api/main_net/v1/get_transaction/";

    var vecRelayedTXs = [];
    drawRelayedTXs();

    //Call neonJSPlayground function
    neonJSPlayground();

    //===============================================================
    $("#formCompile").submit(function (e) {
        $("#compilebtn")[0].disabled = true;
        $("#code").val("");
        $("#code_python").val("");
        $("#code_golang").val("");
        if($("#csharpcode.tab-pane.active.cont").length != 0) {
            $("#code").val(ace.edit("editorCSharp").getSession().getValue());
            console.log("C# Compile");
        }
        if($("#pythoncode.tab-pane.active.cont").length != 0) {
            $("#code_python").val(ace.edit("editorPython").getSession().getValue());
            console.log("Python Compile");
        }
        if($("#golangcode.tab-pane.active.cont").length != 0) {
            $("#code_golang").val(ace.edit("editorGolang").getSession().getValue());
            console.log("Golang Compile");
        }
        $("#codewarnerr").val("");
        $("#codeavm").val("");
        $("#opcodes").val("");
        $("#codeabi").val("");
        $("#contracthash").val("");
        //$("#contracthash_search").val("");
        $("#invokehash").val("");
        $("#contractparams").val("\"\"");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();
        $.post(
            BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
                $("#compilebtn")[0].disabled = false;
                var coderr = atob(data.output);
                $("#codewarnerr").val(coderr);
                var hexcodeavm = atob(data.avm);
                $("#codeavm").val(hexcodeavm);
                hexcodeavm = hexcodeavm.replace(/(\r\n|\n|\r)/gm, "");
                $("#opcodes").val("");
                printOpcode(hexcodeavm, $("#opcodes"));
                //console.log("GRAVANDO BINARIO: "+typeof(datacontent)+":"+datacontent);
                localStorage.setItem('avmFile', hexcodeavm);//, {type: 'application/octet-stream'});
                //datacontent = localStorage.getItem('avmFile', {type: 'application/octet-stream'});
                //console.log("LENDO BINARIO: "+typeof(datacontent)+":"+datacontent);

                //console.log(localStorage.getItem('avmFile').charCodeAt(0));
                //console.log(localStorage.getItem('avmFile').charCodeAt(1));
                //console.log(localStorage.getItem('avmFile').charCodeAt(2));
                //$("#btn_download")[0].style = "";

                $("#contracthash")[0].value = getScriptHashFromAVM(hexcodeavm);
                //$("#contracthash_search")[0].value = $("#contracthash")[0].value;
                $("#invokehash")[0].value = $("#contracthash")[0].value;

                var codeabi = atob(data.abi);
                console.log(codeabi);
                if( codeabi.length != 0 ) {
                    jsonABI = JSON.parse(codeabi);

                    var textAbi = "Hash: " + jsonABI["hash"] + "\n";
                    textAbi += "Entry Point:" + jsonABI["entrypoint"] + "\n";
                    textAbi += "Functions:" + "\n";
                    for (var i = 0; i < jsonABI["functions"].length; i++)
                    {
                        textAbi += "\t" +
                            jsonABI["functions"][i]["returntype"] + " " +
                            jsonABI["functions"][i]["name"] + "(";
                        for (var f = 0; f < jsonABI["functions"][i]["parameters"].length; f++)
                        {
                            textAbi += jsonABI["functions"][i]["parameters"][f]["type"] + " " +
                                jsonABI["functions"][i]["parameters"][f]["name"];
                            if( f != jsonABI["functions"][i]["parameters"].length - 1 )
                                textAbi += ", ";
                        }
                        textAbi += ");\n";
                    }
                    textAbi += "Events:" + "\n";
                    for (var e = 0; e < jsonABI["events"].length; e++)
                    {
                        textAbi += "\t" +
                            jsonABI["events"][e]["returntype"] + " " +
                            jsonABI["events"][e]["name"] + "(";
                        for (var f = 0; f < jsonABI["events"][e]["parameters"].length; f++)
                        {
                            textAbi += jsonABI["events"][e]["parameters"][f]["type"] + " " +
                                jsonABI["events"][e]["parameters"][f]["name"];
                            if( f != jsonABI["events"][e]["parameters"].length - 1 )
                                textAbi += ", ";
                        }
                        textAbi += ");\n";
                    }

                    console.log(codeabi);
                    $("#codeabi").val(textAbi);

                    // parse ABI json
                    console.log("Parsing ABI json");
                    // look for Main function
                    var i = 0;
                    for (i = 0; i < jsonABI["functions"].length; i++)
                        if (jsonABI["functions"][i]["name"] == "Main") {
                            console.log("Found function 'Main' with id=" + i);
                            break;
                        }
                    // get parameters
                    $("#contractparams")[0].value = "\"";
                    var j = 0;
                    console.log("Parameter count:" + jsonABI["functions"][i]["parameters"].length);
                    for (j = 0; j < jsonABI["functions"][i]["parameters"].length; j++) {
                        var phex = getHexForType(jsonABI["functions"][i]["parameters"][j]["type"]);
                        console.log("parameter[" + j + "]: " + jsonABI["functions"][i]["parameters"][j]["type"] + " -> hex(" + phex + ")");
                        $("#contractparams")[0].value += phex;
                    }
                    $("#contractparams")[0].value += "\"";
                    // set invoke params to many empty strings (at least one is desirable for now)
                    $("#invokeparams")[0].value = "\"\"";
                    for (j = 1; j < jsonABI["functions"][i]["parameters"].length; j++)
                        $("#invokeparams")[0].value += " \"\"";
                    // get return hexcode
                    rettype = jsonABI["functions"][i]["returntype"];
                    $("#contractreturn")[0].value = getHexForType(rettype);
                }
            },
            "json" // The format the response should be in
        );  //End of POST for Compile

    }); //End of form Compile function
    //===============================================================

    /* $("#formsearch").submit(function (e) {
      $("#deploybtn")[0].disabled = true;
      $("#searchbtn")[0].disabled = true;
      $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();
        $.post(
            BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
              $("#deploybtn")[0].disabled = false;
              $("#searchbtn")[0].disabled = false;
              $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
            },
            "json" // The format the response should be in
        ); //End of POST for search

    }); //End of form Compile function */

    //===============================================================
    $("#forminvoke").submit(function (e) {
      $("#deploybtn")[0].disabled = true;
      //$("#searchbtn")[0].disabled = true;
      $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();

        //test invoke
        //Invoke('AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y', $("#invokehash").val(), 'Main');

        $.ajax({
         cache:false,
         type:"POST",
         url:BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
        timeout:180000  // we chose 3 min secs for kicks on invokes - Current nodes with 15s sync
        }).done(function(data){
           //alert( "Always of invoke!");
           $("#deploybtn")[0].disabled = false;
           //$("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
             //console.log("output="+data);
             var invokemsg = atob(data.output);
             $("#contractmessages").text(invokemsg);

             //----------------------------------------------------
             //Procedure for filtering notify messages and showing on events specify textnofity box
             $("#contractmessagesnotify").text("");
             var indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify");
             while (indexNotify != -1) {
                 var i = 0;
                 var snotify = "";
                 //console.log("found Notiy at "+indexNotify);
                 while ($("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i] != '\n') {
                     snotify += $("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i];
                     i++;
                 }
                 //console.log("NOTIFY:"+snotify);
                 $("#contractmessagesnotify").text($("#contractmessagesnotify").text() + snotify + "\n");
                 indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify", indexNotify + 1);
             }
             //----------------------------------------------------

             //Let's try to get the last relayed TX hash
             updateTXTable($("#contractmessages").text());
        }).fail(function(jqXHR, textStatus){
           $("#deploybtn")[0].disabled = false;
           //$("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for invoke!\n");
        }); //End of ajax for POST invoke

        /*
        $.post(
            $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
              $("#deploybtn")[0].disabled = false;
              $("#searchbtn")[0].disabled = false;
              $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
                $("#contractmessagesnotify").text("");
                var indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify");
                while (indexNotify != -1) {
                    var i = 0;
                    var snotify = "";
                    //console.log("found Notiy at "+indexNotify);
                    while ($("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i] != '\n') {
                        snotify += $("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i];
                        i++;
                    }
                    //console.log("NOTIFY:"+snotify);
                    $("#contractmessagesnotify").text($("#contractmessagesnotify").text() + snotify + "\n");
                    indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify", indexNotify + 1);
                }
            },
            "json" // The format the response should be in
        ); */
    });//End of invoke function
    //===============================================================

    //===============================================================
    $("#formdeploy").submit(function (e) {
        $("#deploybtn")[0].disabled = true;
        //$("#searchbtn")[0].disabled = true;
        $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $('#formdeploy, #formCompile').serialize();

        //teste deploy
        //Deploy();

        //TODO NEOCOMPILER - This ajax is for Jquery 1.8+
        //Current, it seems to be the most suitable  template for this project
        $.ajax({
         cache:false,
         type:"POST",
         url:BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
         timeout:180000 // we chose 3 min secs for kicks on deploy - Current nodes with 15s sync
        }).done(function(data){
           //alert( "Always of deploy!");
           $("#deploybtn")[0].disabled = false;
           //$("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           // console.log("output="+data);
           var deploymsg = atob(data.output);
           $("#contractmessages").text(deploymsg);

           //Let's try to get the last relayed TX hash
           updateTXTable($("#contractmessages").text());
        }).fail(function(jqXHR, textStatus){
           //if(textStatus === 'timeout')
           //{
             //alert('Failed from timeout');
             //do something. Try again perhaps?
           //}
           //alert(textStatus);
           //alert(jqXHR);
           $("#deploybtn")[0].disabled = false;
           //$("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for deploying!\n");
        }); //End of ajax for POST deploy

        /*$.post(
            $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
               $("#deploybtn")[0].disabled = false;
               $("#searchbtn")[0].disabled = false;
               $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
            },
            "json" // The format the response should be in
        );*/

        /*
        $.ajax({
         cache:false,
         type:"POST",
         url:deployUrl, // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
         success: function(data){
           //alert( "Always of deploy!");
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           // console.log("output="+data);
           var deploymsg = atob(data.output);
           $("#contractmessages").text(deploymsg);
         },
         error: function(){
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for deploying!\n");
         },
         timeout:400000,  // I chose 7min secs for kicks
       }); */
    }); //End of formdeploy function
    //===============================================================

    //===============================================================
    function createEditor(name, mode) {
        var editor = ace.edit(name);
        editor.setTheme("ace/theme/clouds");
        editor.session.setMode(mode);
        editor.setAutoScrollEditorIntoView(true);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false,
            maxLines: 30
        });
        editor.commands.addCommand({
            name: "showKeyboardShortcuts",
            bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
            exec: function (editor) {
                ace.config.loadModule("ace/ext/keybinding_menu", function (module) {
                    module.init(editor);
                    //editor.showKeyboardShortcuts() just shows when tigger the hotkey
                })
            }
        })
        return editor
    }
    var editorPython = createEditor("editorPython", "ace/mode/python");
    var editorGolang = createEditor("editorGolang", "ace/mode/golang");
    var editorCSharp = createEditor("editorCSharp", "ace/mode/csharp");
    var cSharpFiles = [
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/HelloWorld/HelloWorld.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/ICO_Template/ICO_Template.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/create_checkwitness/MyCheckWitness/MyCheckWitness.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/Lock/Lock.cs"],
        [
            "https://raw.githubusercontent.com/NeoResearch/examples-csharp/fix_struct_example/StructExample/Point.cs",
            "https://raw.githubusercontent.com/NeoResearch/examples-csharp/fix_struct_example/StructExample/StructExample.cs"
        ]
    ];
    //===============================================================

    //===============================================================
    $("#btn_downloadOpCode").click(function (e) {
        e.preventDefault();
        mydata = $('#formdeploy').contents().find('#opcodes').val();
        var file = new Blob([mydata],{type:'text/plain'});
        download(file, ".opcodes");
    });
    //===============================================================

    //===============================================================
    function ImportAVM() {
         var file = document.getElementById("importAVMFile").files[0];
         if (file) {
             var reader = new FileReader();
             reader.onloadend = function () {
                 var hex = bin2hex(this.result);
                 $("#codeavm").val(hex);
                 $("#opcodes").text("");
                 $("#codeabi").text("");
                 $("#codewarnerr").text("");

                 var hexavm = hex;
                 hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
                 var bitshash160 = sjcl.hash.ripemd160.hash(sjcl.hash.sha256.hash(sjcl.codec.hex.toBits(hexavm)));
                 var shash = revertHexString(sjcl.codec.hex.fromBits(bitshash160));
                 printOpcode(hexavm, $("#opcodes"));

                 $("#contracthash")[0].value = shash;
                 //$("#contracthash_search")[0].value = $("#contracthash")[0].value;
                 $("#invokehash")[0].value = $("#contracthash")[0].value;

                 console.log(toBase58(shash));//address
             };
             reader.readAsBinaryString(file);
         }
    }
    //===============================================================

    //===============================================================
    function setExample( selected_index ){
        console.log(selected_index);

        editorCSharp.getSession().setValue("");
        var file = cSharpFiles[selected_index];
        $.get(file, function (data) {
            editorCSharp.getSession().setValue(editorCSharp.getSession().getValue() + data);
        });
    }
    //===============================================================

    //===============================================================
    function downloadAVM( selected_index ){
        console.log(selected_index);

        var file = new Blob();
        mydata = localStorage.getItem('avmFile');

        if( selected_index == 0 ) {
            mydata = hex2bin(mydata);
            mydatalist = new Array(mydata.length);
            for(var i = 0; i<mydata.length; i++)
                mydatalist[i] = mydata.charCodeAt(i);

            mybuf = new Uint8Array(mydatalist); // MAGIC???
            file = new Blob([mybuf],{type:'application/octet-stream'});//new Blob([data], {type: type});
        }
        else {
            file = new Blob([mydata],{type:'text/plain'});//new Blob([data], {type: type});
        }
        download(file, ".avm");
    };
    //===============================================================

    //===============================================================
    function buttonRemoveTX(idToRemove){
      if(idToRemove < vecRelayedTXs.length && idToRemove > -1)
      {
          vecRelayedTXs.splice(idToRemove, 1);
          drawRelayedTXs();
      }else{
        alert("Cannot remove TX with ID " + idToRemove + " from set of relayed transactions with size " + vecRelayedTXs.length)
      }
    }
    //===============================================================

    //===============================================================
    function drawRelayedTXs(){
    	//Clear previous data
    	document.getElementById("divRelayedTXs").innerHTML = "";
    	var table = document.createElement("table");
      table.setAttribute('class', 'table');

      var row = table.insertRow(-1);
      var headers1 = document.createElement('div');
      var headers2 = document.createElement('div');
      var headers3 = document.createElement('div');
      var headers4 = document.createElement('div');
      headers1.innerHTML = "<b> ID </b>";
      row.insertCell(-1).appendChild(headers1);
      headers2.innerHTML = "<b> TX </b>";
      row.insertCell(-1).appendChild(headers2);
      headers3.innerHTML = "<b> Note </b>";
      row.insertCell(-1).appendChild(headers3);
      headers4.innerHTML = "<b> Blockchained </b>";
      row.insertCell(-1).appendChild(headers4);

      for (i = 0; i < vecRelayedTXs.length; i++) {
          var txRow = table.insertRow(-1);
          //row.insertCell(-1).appendChild(document.createTextNode(i));
          //Insert button that remove rule
          var b = document.createElement('button');
          b.setAttribute('content', 'test content');
          b.setAttribute('class', 'btn btn-danger');
          b.setAttribute('value', i);
          //b.onclick = function () {buttonRemoveRule();};
          //b.onclick = function () {alert(this.value);};
          b.onclick = function () {buttonRemoveTX(this.value);};
          b.innerHTML = i;

          txRow.insertCell(-1).appendChild(b);

          var link = document.createElement("a");
          var urlToGet = neoScanTXBaseURL + vecRelayedTXs[i].tx;
          link.appendChild(document.createTextNode(vecRelayedTXs[i].tx));
          link.href = urlToGet;
          link.target = '_blank';
          link.onclick = urlToGet;
          txRow.insertCell(-1).appendChild(link);

          var input = document.createElement("input");
          //input.setAttribute("type", "hidden");
          input.setAttribute("name", "textNote"+i);
          input.setAttribute("value", vecRelayedTXs[i].note);
          txRow.insertCell(-1).appendChild(input);

          //Check activation status
          var activationStatus = document.createElement('div');
          activationStatus.setAttribute('id', "activationStatus"+i);
          activationStatus.innerHTML = "-";

          //This draw can be deprecated
          /*$.getJSON(urlToGet, function(result) {
              //console.log(result);
              if(result.txid == "not found" || result.vin == null){
                activationStatus.innerHTML = "<font color=\"blue\">PENDING</font>";
              }else{
                activationStatus.innerHTML = "<font color=\"green\">FOUND</font>";
              }
          }).fail(function (result) {
              activationStatus.innerHTML = "<font color=\"red\">FAILED</font>";
          });*/

          txRow.insertCell(-1).appendChild(activationStatus);
          //Check activation status ends
    	}//Finishes loop that draws each relayed transaction

      document.getElementById("divRelayedTXs").appendChild(table);
      searchForTXs();
    }//Finishe DrawRules function
   //===============================================================

  //===============================================================
   //This function tries to search and verify for all relayed TXs that were, possible, broadcasted and included in the blockchain
   function searchForTXs(){
     //console.log("Searching tx's");
     for (i = 0; i < vecRelayedTXs.length; i++)
      searchForTX(i);
   }
   //===============================================================

   //===============================================================
   //This function tries to search and verify for a specific relayed TX that was, possible, broadcasted and included in the blockchain
   function searchForTX(indexToUpdate){
          $.getJSON(neoScanTXBaseURL + vecRelayedTXs[indexToUpdate].tx, function(result) {
              //console.log("div is activationStatus"+indexToUpdate);
              if(result.txid == "not found" || result.vin == null){
                document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"blue\">PENDING</font>";
              }else{
                document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"green\">FOUND</font>";
              }
          }).fail(function (result) {
              document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"red\">FAILED</font>";
          });
   }
   //===============================================================

   //===============================================================
   function updateTXTable(contractMessagesBox){
     var indexRelayedTx = contractMessagesBox.indexOf("relayed TX");
     var relayedTX = "";
     if(indexRelayedTx != -1)
     {
           //relayedTX = $("#contractmessages").text()[indexRelayedTx, 64];
           for(var i = 0; i<64; i++)
                 relayedTX += contractMessagesBox[indexRelayedTx + 11 + i];
           //console.log("Relayed tx is:"+relayedTX);
           //document.getElementById("link2").setAttribute("href",neoScanTXBaseURL + relayedTX);
           vecRelayedTXs.push({tx:relayedTX, note:"Personal tx note"});
           drawRelayedTXs();
     }
   }
   //===============================================================

</script>
