<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Neo Editor</li>
            </ol>
        </div>
    </div>
    <div class="modal fade" id="TimeInfoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                <p>It can take up to 30 seconds... time for a coffee :)</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Compile</div>
        <div class="panel-body">
            <form id="formCompile" action="/compilex" style="margin-top: 10px;" method="post">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-target="#csharpcode" data-toggle="tab">C#</a></li>
                        <li><a data-target="#pythoncode" data-toggle="tab">Python</a></li>
                        <li class="disabled"><a data-target="#javacode">Java ( not yet )</a></li> <!--- <li><a data-target="#javacode" data-toggle="tab">Java ( not yet )</a></li> -->
                        <li class="disabled"><a data-target="#soliditycode">Solidity ( not yet )</a></li> <!--- <li><a data-target="#soliditycode" data-toggle="tab">Solidity ( not yet )</a></li> -->
                    </ul>

                    <!-- /////////////////////////////////////////////////////////////////// -->
                    <!-- csharpcode -->
                    <div class="tab-content">
                        <div class="tab-pane active cont" id="csharpcode">
                                <button id="btn_cs_ex1" style="margin-bottom: 5px; margin-left: 2px;" class="btn btn-info">HelloWorld.cs</button>
                                <button id="btn_cs_ex2" style="margin-bottom: 5px; margin-left: 2px;" class="btn btn-info">ICO_Template.cs</button>
                                <button id="btn_cs_ex3" style="margin-bottom: 5px; margin-left: 2px;" class="btn btn-info">MyCheckWitness.cs</button>
                                <button id="btn_cs_ex4" style="margin-bottom: 5px; margin-left: 2px;" class="btn btn-info">Lock.cs</button>
                                <button id="btn_cs_ex5" style="margin-bottom: 5px; margin-left: 2px;" class="btn btn-info">StructExample.cs</button>
                                <input type="hidden" id="code" name="codesend"/>
                                <pre id="editorCSharp">
using Neo.SmartContract.Framework;
using Neo.SmartContract.Framework.Services.Neo;
using System;
using System.Numerics;
namespace NeoContract1
{
    public class Contract1 : SmartContract
    {
        public static void Main()
        {
            Storage.Put(Storage.CurrentContext, &quot;Hello&quot;, &quot;World&quot;);
        }
    }
}
                                </pre>
                        </div>
                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- end csharpcode -->


                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <!-- python div -->
                        <div class="tab-pane cont" id="pythoncode">
                            <input type="hidden" id="code_python" name="codesend_python"/>
                            <pre id="editorPython">
from boa.interop.Neo.Runtime import Notify, CheckWitness

def Main():
    OWNER=b'031a6c6fbbdf02ca351745fa86b9ba5a9452d785ac4f7fc2b7548ca2a46c4fcf4a'
    result = CheckWitness(OWNER)
    if result:
        print(&quot;OWNER is caller&quot;)
        return True
    return False
                            </pre>
                        </div>
                        <div class="tab-pane" id="javacode">
                            <input type="hidden" id="code_java" name="codesend_java"/>
                            <pre id="editorJava">Java</pre>
                        </div>
                        <div class="tab-pane" id="soliditycode">
                            <input type="hidden" id="code_sol" name="codesend_sol" rows="15" cols="100"/>
                            <pre id="editorSolidity">Solidity</pre>
                        </div>
                    </div>
                </div>
                <!-- end python div -->
                <!-- /////////////////////////////////////////////////////////////////// -->

                <!-- /////////////////////////////////////////////////////////////////// -->
                <!-- common submit button -->
                <button type="submit" id="compilebtn" style="margin-top: 5px;" class="btn btn-success" data-toggle="modal">Compile</button>
                <p><font size="1">Use CTRL+ALT+H to access the hotkeys informations</font></p>
                <h4>Compile Warning/Errors:</h4>
                <!-- end common submit button -->
                <!-- /////////////////////////////////////////////////////////////////// -->

                <textarea id="codewarnerr" readonly="readonly" rows="15" cols="100" placeholder="Warning/Errors in code..." class="form-control"></textarea>
                <h4>AVM (in hex):</h4>
                <textarea id="codeavm" name="codeavm" readonly="readonly" rows="5" cols="100" placeholder="AVM (in hex)" class="form-control"></textarea>
                <div class="dropdown btn-group">
                        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Download AVM
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="downloadMenu">
                            <li><a>binary file</a></li>
                            <li><a>hex code</a></li>
                        </ul>
                    </div>
                <button data-toggle="collapse" data-target="#opcodesDiv" type="button" style="margin-left: 5px; margin-bottom: 5px; margin-top: 5px;" class="btn btn-info">AVM OPCODES</button>
                <div id="opcodesDiv" class="collapse">
                    <textarea id="opcodes" readonly="readonly" rows="5" cols="100" placeholder="AVM OPCODES" class="form-control"></textarea>
                    <button id="btn_downloadOpCode" style="margin-bottom: 5px; margin-top: 5px;" class="btn btn-warning">Download OpCodes</button>
                </div>
                <h4>ABI:</h4>
                <textarea id="codeabi" readonly="readonly" rows="5" cols="100" placeholder="ABI (JSON format)" class="form-control"></textarea>
            </form>
            <!-- end of compilex form -->
            <!-- /////////////////////////////////////////////////////////////////// -->
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Deploy contract to private net</div>
        <div class="panel-body">
            <form id="formdeploy" action="/deployx" method="post">
                <div class="form-group">
                    <input id="contracthash" name="contracthash" placeholder="Script Hash"/>
                    <input id="contractparams" name="contractparams" placeholder="&quot;Parameters (in quotes)&quot;" style="margin-left: 5px;"/>
                    <select name="contractreturn" id="contractreturn" style="margin-left: 5px;" class="custom-select" data-toggle="tooltip" data-placement="top" title="Signature (00), Boolean (01), Integer (02), Hash160 (03), Hash256 (04), ByteArray (05), PublicKey (06), String (07), Array (10), InteropInterface (f0), Void (ff).">
                    <option>00</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>10</option>
                    <option>f0</option>
                    <option>ff</option>
                    </select>
                    <!--input(id='contractreturn', name='contractreturn' placeholder="Return Code (Void=00, Bool=01, ...)")-->
                    <input type="checkbox" name="cbx_storage" id="cbx_storage" style="margin-left: 10px;"/>Storage
                    <input type="checkbox" name="cbx_dynamicinvoke" id="cbx_dynamicinvoke" style="margin-left: 10px;"/>Dynamic Invoke<br>
                    <select name="wallet_deploy" class="custom-select" style="margin-top: 10px;">
                    <option>w1.wallet</option>
                    <option>w2.wallet</option>
                    <option>w3.wallet</option>
                    <option>w4.wallet</option>
                    </select>
                    <button type="submit" id="deploybtn" style="margin-left: 10px;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Deploy</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Invoke contract in private net</div>
        <div class="panel-body">
            <form id="forminvoke" action="/invokex" method="post">
                <div class="form-group">
                    Contract:<input id="invokehash" name="invokehash" placeholder="Script Hash"/>
                    Params:<input id="invokeparams" name="invokeparams" placeholder="Script Params" style="margin-left: 5px;"/>
                    NEO: <input id="attachneo" name="attachneo" value="0" placeholder="Send NEO" style="margin-left: 5px;"/>
                    <input type="checkbox" name="cbx_invokeonly" id="cbx_invokeonly" style="margin-left: 10px;"/>TestInvokeOnly<br><br>
                    <select name="wallet_invoke" style="margin-top: 10px;" class="custom-select">
                    <option>w1.wallet</option>
                    <option>w2.wallet</option>
                    <option>w3.wallet</option>
                    <option>w4.wallet</option>
                    </select>
                    <button type="submit" id="invokebtn" style="margin-left: 10px;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Invoke by hash</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Search contract in private net</div>
        <div class="panel-body">
            <form id="formsearch" action="/searchx" method="post">
                <div class="form-group">
                    <input id="contracthash_search" name="contracthash_search" placeholder="Script Hash"/>
                    <button type="submit" id="searchbtn" style="margin-left: 10px;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#TimeInfoModal">Search by hash</button>
                </div>
            </form>
        </div>
    </div>

    <button type="submit" onClick="searchForTXs()" id="btndrawRelayedTXs" style="margin-bottom: 10px;" class="btn btn-success btn-sm">Check TXs status</button><br>
    <div id="divRelayedTXs" class="table-responsive"></div>

    <div class="panel panel-info">
        <div class="panel-heading">Private Net Messages</div>
        <div class="panel-body">
            <form id="formprivatenet" method="post">
                <textarea id="contractmessages" readonly="readonly" rows="15" cols="100" placeholder="Contract messages..." class="form-control"></textarea><br>
                <textarea id="contractmessagesnotify" readonly="readonly" rows="5" cols="100" placeholder="Contract messages Notify..." class="form-control"></textarea><br>
            </form>
        </div>
    </div>

</div>
<script>
    var vecRelayedTXs = [];
    // =============================================
    //First examples of using Neon-JS in connection with neo-scan for broadcasting to private net RPC clients
    var NeonA = Neon.default
    const query = Neon.default.create.query()
    var wallet = Neon.wallet
    console.log("query: " + query)
    console.log("wallet: " + wallet)
    var tx = Neon.tx
    console.log("tx: " + tx)
    let tx2 = Neon.default.create.tx({type: 128})
    console.log("tx2: " + tx2)

    const config = {
      name: 'PrivateNet',
      extra: {
        neoscan: NEOSCAN_PATH + '/api/main_net'
      }
    }
    const privateNet = new Neon.rpc.Network(config)
    Neon.default.add.network(privateNet)
    console.log(Neon.settings.networks['PrivateNet'])
    balance = Neon.api.neoscan.getBalance('PrivateNet', "AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y")
    .then(res => console.log(res))


    const intent = Neon.api.makeIntent({NEO:1,GAS:500}, 'AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y')
    console.log(intent) // This is an array of 2 Intent objects, one for each asset
    const configTest = {
      net: 'PrivateNet', // The network to perform the action, MainNet or TestNet.
      url: NODES_CSHARP_PATH,
      address: 'AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y',  // This is the address which the assets come from.
      privateKey: 'KxDgvEKzgSBPPfuVfw67oPQBSjidEiqTHURKSDL1R7yGaGYAeYnr',
      intents: intent
    }

    Neon.default.sendAsset(configTest)
    .then(res => {
      console.log(res.response)
    })
    .catch(e => {
      console.log(e)
    })

    //END First examples of using Neon-JS in connection with neo-scan for broadcasting to private net RPC clients
    // =============================================



    var neoScanTXBaseURL = NEOSCAN_PATH + "/api/main_net/v1/get_transaction/"

    function hex2bin(hex) {
        var bytes = [];
        for (var i = 0; i < hex.length - 1; i += 2)
            bytes.push(parseInt(hex.substr(i, 2), 16));
        str = String.fromCharCode.apply(String, bytes);
        return str;
    }
    // https://github.com/neo-project/neo/blob/master/neo/SmartContract/ContractParameterType.cs
    // https://github.com/CityOfZion/neo-python/blob/master/neo/SmartContract/ContractParameterType.py
    function getHexForType(stype) {
        if (stype == "Signature")
            return '00';
        else if (stype == "Boolean")
            return '01';
        else if (stype == "Integer")
            return '02';
        else if (stype == "Hash160")
            return '03';
        else if (stype == "Hash256")
            return '04';
        else if (stype == "ByteArray")
            return '05';
        else if (stype == "PublicKey")
            return '06';
        else if (stype == "String")
            return '07';
        else if (stype == "Array")
            return '10'; // object[]
        else if (stype == "InteropInterface")
            return 'f0';
        else if (stype == "Void")
            return 'ff';
        else
            return '05';
    }
    // Calculate gas cost
    //https://github.com/neo-project/docs/blob/master/en-us/sc/systemfees.md
    // https://github.com/neo-project/neo-vm/blob/master/src/neo-vm/OpCode.cs
    function parseOpcode(opcode, hexavm) {
        var pvalue = parseInt(opcode, 16);
        if (opcode == "00")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH0\t#An empty array of bytes is pushed onto the stack\n");
        else if ((pvalue >= 1) && (pvalue <= 75)) {
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHBYTES" + pvalue + "\t # ");
            var i = 0;
            var spush = "";
            for (i = 0; i < pvalue; i++) {
                var codepush = "" + hexavm[0] + hexavm[1];
                hexavm = hexavm.substr(2, hexavm.length);
                $("#opcodes").text($("#opcodes").text() + codepush);
                spush += String.fromCharCode(parseInt(codepush, 16));
            }
            $("#opcodes").text($("#opcodes").text() + " \"" + spush + "\" ");
            $("#opcodes").text($("#opcodes").text() + " # 0x01-0x4B The next opcode bytes is data to be pushed onto the stack\n");
        }
        //else if(opcode == "01")
        // $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHBYTES1\t#0x01-0x4B The next opcode bytes is data to be pushed onto the stack\n");
        //else if(opcode == "4b")
        //  $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHBYTES75\t#\n");
        else if (opcode == "4c") {
            var bsize = 0;
            var sizepush = "" + hexavm[0] + hexavm[1];
            hexavm = hexavm.substr(2, hexavm.length);
            bsize = String.fromCharCode(parseInt(sizepush, 16));
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHDATA1\t #"+bsize+" bytes: ");
            var spush = "";
            for (i = 0; i < bsize; i++) {
                var codepush = "" + hexavm[0] + hexavm[1];
                hexavm = hexavm.substr(2, hexavm.length);
                $("#opcodes").text($("#opcodes").text() + codepush);
                spush += String.fromCharCode(parseInt(codepush, 16));
            }
            $("#opcodes").text($("#opcodes").text() + spush +" # pushed onto the stack\n");
        }
        else if (opcode == "4d") {
          var bsize = 0;
          var sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize = String.fromCharCode(parseInt(sizepush, 16));
          sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize = bsize*256 + String.fromCharCode(parseInt(sizepush, 16));
          $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHDATA2\t #"+bsize+" bytes: ");
          var spush = "";
          for (i = 0; i < bsize; i++) {
              var codepush = "" + hexavm[0] + hexavm[1];
              hexavm = hexavm.substr(2, hexavm.length);
              $("#opcodes").text($("#opcodes").text() + codepush);
              spush += String.fromCharCode(parseInt(codepush, 16));
          }
          $("#opcodes").text($("#opcodes").text() + spush +" # pushed onto the stack\n");
            //$("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHDATA2\t#The next two bytes contain the number of bytes to be pushed onto the stack\n");
        }
        else if (opcode == "4e") {
          var bsize = 0;
          var sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize += String.fromCharCode(parseInt(sizepush, 16));
          sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize = bsize*256 + String.fromCharCode(parseInt(sizepush, 16));
          sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize = bsize*256 + String.fromCharCode(parseInt(sizepush, 16));
          sizepush = "" + hexavm[0] + hexavm[1];
          hexavm = hexavm.substr(2, hexavm.length);
          bsize = bsize*256 + String.fromCharCode(parseInt(sizepush, 16));
          $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHDATA4\t #"+bsize+" bytes: ");
          var spush = "";
          for (i = 0; i < bsize; i++) {
              var codepush = "" + hexavm[0] + hexavm[1];
              hexavm = hexavm.substr(2, hexavm.length);
              $("#opcodes").text($("#opcodes").text() + codepush);
              spush += String.fromCharCode(parseInt(codepush, 16));
          }
          $("#opcodes").text($("#opcodes").text() + spush +" # pushed onto the stack\n");
            //$("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHDATA4\t#The next four bytes contain the number of bytes to be pushed onto the stack.\n");
        }
        else if (opcode == "4f")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSHM1\t#The number -1 is pushed onto the stack.\n");
        else if (opcode == "51")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH1\t# The number 1 is pushed onto the stack.\n");
        else if (opcode == "52")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH2\t# The number 2 is pushed onto the stack.\n");
        else if (opcode == "53")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH3\t# The number 3 is pushed onto the stack.\n");
        else if (opcode == "54")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH4\t# The number 4 is pushed onto the stack.\n");
        else if (opcode == "55")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH5\t# The number 5 is pushed onto the stack.\n");
        else if (opcode == "56")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH6\t# The number 6 is pushed onto the stack.\n");
        else if (opcode == "57")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH7\t# The number 7 is pushed onto the stack.\n");
        else if (opcode == "58")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH8\t# The number 8 is pushed onto the stack.\n");
        else if (opcode == "59")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH9\t# The number 9 is pushed onto the stack.\n");
        else if (opcode == "5a")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH10\t# The number 10 is pushed onto the stack.\n");
        else if (opcode == "5b")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH11\t# The number 11 is pushed onto the stack.\n");
        else if (opcode == "5c")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH12\t# The number 12 is pushed onto the stack.\n");
        else if (opcode == "5d")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH13\t# The number 13 is pushed onto the stack.\n");
        else if (opcode == "5e")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH14\t# The number 14 is pushed onto the stack.\n");
        else if (opcode == "5f")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH15\t# The number 15 is pushed onto the stack.\n");
        else if (opcode == "60")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPUSH16\t# The number 16 is pushed onto the stack.\n");
        else if (opcode == "61")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNOP\t# Does nothing.\n");
        else if (opcode == "62") {
            $("#opcodes").text($("#opcodes").text() + opcode + "\tJMP\t# ");
            var nparfunc = "" + hexavm[0] + hexavm[1];
            hexavm = hexavm.substr(2, hexavm.length);
            $("#opcodes").text($("#opcodes").text() + nparfunc + "\n");
        }
        else if (opcode == "63") {
            $("#opcodes").text($("#opcodes").text() + opcode + "\tJMPIF\t# ");
            var nparfunc = "" + hexavm[0] + hexavm[1];
            hexavm = hexavm.substr(2, hexavm.length);
            $("#opcodes").text($("#opcodes").text() + nparfunc + "\n");
        }
        else if (opcode == "64") {
            $("#opcodes").text($("#opcodes").text() + opcode + "\tJMPIFNOT\t# ");
            var nparfunc = "" + hexavm[0] + hexavm[1];
            hexavm = hexavm.substr(2, hexavm.length);
            $("#opcodes").text($("#opcodes").text() + nparfunc + "\n");
        }
        else if (opcode == "65")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tCALL\t# \n");
        else if (opcode == "66")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tRET\t# \n");
        else if (opcode == "67")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tAPPCALL\t# \n");
        else if (opcode == "68") {
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSYSCALL\t# ");
            var nparfunc = "" + hexavm[0] + hexavm[1];
            hexavm = hexavm.substr(2, hexavm.length);
            fvalue = parseInt(nparfunc, 16);
            sfunc = "";
            var i = 0;
            for (i = 0; i < fvalue; i++) {
                var codepush = "" + hexavm[0] + hexavm[1];
                hexavm = hexavm.substr(2, hexavm.length);
                var cvalue = String.fromCharCode(parseInt(codepush, 16));
                sfunc += cvalue;
                if (sfunc == "Neo.Storage")
                    $("#cbx_storage")[0].checked = true;
                $("#opcodes").text($("#opcodes").text() + cvalue);
            }
            $("#opcodes").text($("#opcodes").text() + "\n");
        }
        else if (opcode == "69")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tTAILCALL\t# \n");
        else if (opcode == "6a")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDUPFROMALTSTACK\t# \n");
        else if (opcode == "6b")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tTOALTSTACK\t# Puts the input onto the top of the alt stack. Removes it from the main stack.\n");
        else if (opcode == "6c")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tFROMALTSTACK\t# Puts the input onto the top of the main stack. Removes it from the alt stack.\n");
        else if (opcode == "6d")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tXDROP\t# \n");
        else if (opcode == "72")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tXSWAP\t# \n");
        else if (opcode == "73")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tXTUCK\t# \n");
        else if (opcode == "74")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDEPTH\t# Puts the number of stack items onto the stack.\n");
        else if (opcode == "75")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDROP\t# Removes the top stack item.\n");
        else if (opcode == "76")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDUP\t# Duplicates the top stack item.\n");
        else if (opcode == "77")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNIP\t# Removes the second-to-top stack item.\n");
        else if (opcode == "78")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tOVER\t# Copies the second-to-top stack item to the top.\n");
        else if (opcode == "79")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPICK\t# The item n back in the stack is copied to the top.\n");
        else if (opcode == "7a")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tROLL\t# The item n back in the stack is moved to the top.\n");
        else if (opcode == "7b")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tROT\t# The top three items on the stack are rotated to the left.\n");
        else if (opcode == "7c")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSWAP\t# The top two items on the stack are swapped.\n");
        else if (opcode == "7d")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tTUCK\t# The item at the top of the stack is copied and inserted before the second-to-top item.\n");
        else if (opcode == "7e")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tCAT\t# Concatenates two strings.\n");
        else if (opcode == "7f")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSUBSTR\t# Returns a section of a string.\n");
        else if (opcode == "80")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tLEFT\t# Keeps only characters left of the specified point in a string.\n");
        else if (opcode == "81")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tRIGHT\t# Keeps only characters right of the specified point in a string.\n");
        else if (opcode == "82")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSIZE\t# Returns the length of the input string.\n");
        else if (opcode == "83")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tINVERT\t# Flips all of the bits in the input.\n");
        else if (opcode == "84")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tAND\t# Boolean and between each bit in the inputs.\n");
        else if (opcode == "85")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tOR\t# Boolean or between each bit in the inputs.\n");
        else if (opcode == "86")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tXOR\t# Boolean exclusive or between each bit in the inputs.\n");
        else if (opcode == "87")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tEQUAL\t# Returns 1 if the inputs are exactly equal, 0 otherwise.\n");
        else if (opcode == "8b")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tINC\t# 1 is added to the input.\n");
        else if (opcode == "8c")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDEC\t# 1 is subtracted from the input.\n");
        else if (opcode == "8d")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSIGN\t# \n");
        else if (opcode == "8f")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNEGATE\t# The sign of the input is flipped.\n");
        else if (opcode == "90")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tABS\t# The input is made positive.\n");
        else if (opcode == "91")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNOT\t# If the input is 0 or 1, it is flipped. Otherwise the output will be 0.\n");
        else if (opcode == "92")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNZ\t# Returns 0 if the input is 0. 1 otherwise.\n");
        else if (opcode == "93")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tADD\t# a is added to b.\n");
        else if (opcode == "94")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSUB\t# b is subtracted from a.\n");
        else if (opcode == "95")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tMUL\t# a is multiplied by b.\n");
        else if (opcode == "96")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tDIV\t# a is divided by b.\n");
        else if (opcode == "97")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tMOD\t# Returns the remainder after dividing a by b.\n");
        else if (opcode == "98")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSHL\t# Shifts a left b bits, preserving sign.\n");
        else if (opcode == "99")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSHR\t# Shifts a right b bits, preserving sign.\n");
        else if (opcode == "9a")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tBOOLAND\t# If both a and b are not 0, the output is 1. Otherwise 0.\n");
        else if (opcode == "9b")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tBOOLOR\t# If a or b is not 0, the output is 1. Otherwise 0.\n");
        else if (opcode == "9c")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNUMEQUAL\t# Returns 1 if the numbers are equal, 0 otherwise.\n");
        else if (opcode == "9e")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNUMNOTEQUAL\t# Returns 1 if the numbers are not equal, 0 otherwise.\n");
        else if (opcode == "9f")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tLT\t# Returns 1 if a is less than b, 0 otherwise.\n");
        else if (opcode == "a0")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tGT\t# Returns 1 if a is greater than b, 0 otherwise.\n");
        else if (opcode == "a1")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tLTE\t# Returns 1 if a is less than or equal to b, 0 otherwise.\n");
        else if (opcode == "a2")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tGTE\t# Returns 1 if a is greater than or equal to b, 0 otherwise.\n");
        else if (opcode == "a3")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tMIN\t# Returns the smaller of a and b.\n");
        else if (opcode == "a3")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tMIN\t# Returns the smaller of a and b.\n");
        else if (opcode == "a4")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tMAX\t# Returns the larger of a and b.\n");
        else if (opcode == "a5")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tWITHIN\t# Returns 1 if x is within the specified range (left-inclusive), 0 otherwise.\n");
        else if (opcode == "a7")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSHA1\t# The input is hashed using SHA-1.\n");
        else if (opcode == "a8")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSHA256\t# The input is hashed using SHA-256.\n");
        else if (opcode == "a9")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tHASH160\t# The input is hashed using HASH160.\n");
        else if (opcode == "aa")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tHASH256\t# The input is hashed using HASH256.\n");
        else if (opcode == "ac")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tCHECKSIG\t# \n");
        else if (opcode == "ae")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tCHECKMULTISIG\t# \n");
        else if (opcode == "c0")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tARRAYSIZE\t# \n");
        else if (opcode == "c1")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPACK\t# \n");
        else if (opcode == "c2")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tUNPACK\t# \n");
        else if (opcode == "c3")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tPICKITEM\t# \n");
        else if (opcode == "c4")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tSETITEM\t# \n");
        else if (opcode == "c5")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNEWARRAY\t# \n");
        else if (opcode == "c6")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tNEWSTRUCT\t# \n");
        else if (opcode == "c8")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tAPPEND\t# \n");
        else if (opcode == "c9")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tREVERSE\t# \n");
        else if (opcode == "ca")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tREMOVE\t# \n");
        else if (opcode == "f0")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tTHROW\t# \n");
        else if (opcode == "f1")
            $("#opcodes").text($("#opcodes").text() + opcode + "\tTHROWIFNOT\t# \n");
        else {
            $("#opcodes").text($("#opcodes").text() + opcode + "\t???\t# \n");
        }
        return hexavm;
    }

    function printOpcode(hexavm) {
        if (hexavm.length == 0)
            return; // string is empty
        if (hexavm.length % 2 == 1)
            return; // must be even pairs
        var code = "" + hexavm[0] + hexavm[1];
        hexavm = hexavm.substr(2, hexavm.length);
        //console.log("code ("+code+")");
        hexavm = parseOpcode(code, hexavm);
        printOpcode(hexavm);
    }

    $("#formCompile").submit(function (e) {
        $("#compilebtn")[0].disabled = true;
        $("#code").val("");
        $("#code_python").val("");
        if($("#csharpcode.tab-pane.active.cont").length != 0) {
            $("#code").val(ace.edit("editorCSharp").getSession().getValue());
            console.log("C# Compile");
        }
        if($("#pythoncode.tab-pane.active.cont").length != 0) {
            $("#code_python").val(ace.edit("editorPython").getSession().getValue());
            console.log("Python Compile");
        }
        $("#codewarnerr").val("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();
        $.post(
            BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
                $("#compilebtn")[0].disabled = false;
                var coderr = atob(data.output);
                $("#codewarnerr").val(coderr);
                var hexcodeavm = atob(data.avm);
                $("#codeavm").val(hexcodeavm);
                hexcodeavm = hexcodeavm.replace(/(\r\n|\n|\r)/gm, "");
                $("#opcodes").text("");
                printOpcode(hexcodeavm);
                //console.log("GRAVANDO BINARIO: "+typeof(datacontent)+":"+datacontent);
                localStorage.setItem('avmFile', hexcodeavm);//, {type: 'application/octet-stream'});
                //datacontent = localStorage.getItem('avmFile', {type: 'application/octet-stream'});
                //console.log("LENDO BINARIO: "+typeof(datacontent)+":"+datacontent);

                //console.log(localStorage.getItem('avmFile').charCodeAt(0));
                //console.log(localStorage.getItem('avmFile').charCodeAt(1));
                //console.log(localStorage.getItem('avmFile').charCodeAt(2));
                //$("#btn_download")[0].style = "";
                var codeabi = atob(data.abi);
                jsonABI = JSON.parse(codeabi);

                var textAbi = "Hash: " + jsonABI["hash"] + "\n";
                textAbi += "Entry Point:" + jsonABI["entrypoint"] + "\n";
                textAbi += "Functions:" + "\n"
                var i = 0;
                for (i = 0; i < jsonABI["functions"].length; i++)
                {
                    textAbi += "\t" + 
                        jsonABI["functions"][i]["returntype"] + " " +
                        jsonABI["functions"][i]["name"] + "(";
                    var f = 0;
                    for (f = 0; f < jsonABI["functions"][i]["parameters"].length; f++)
                    {
                        textAbi += jsonABI["functions"][i]["parameters"][f]["type"] + " " +
                            jsonABI["functions"][i]["parameters"][f]["name"];
                        if( f != jsonABI["functions"][i]["parameters"].length - 1 )
                            textAbi += ", ";
                    }
                    textAbi += ");"
                }
                var e = 0;
                for (e = 0; e < jsonABI["events"].length; f++)
                {
                    textAbi += "\t\t" + jsonABI["events"][e] + "\n";
                }

                $("#codeabi").text(textAbi);
                chash = jsonABI["hash"];
                $("#contracthash")[0].value = chash.substr(2, chash.length);
                $("#contracthash_search")[0].value = $("#contracthash")[0].value;
                $("#invokehash")[0].value = $("#contracthash")[0].value;
                // parse ABI json
                console.log("Parsing ABI json");
                // look for Main function
                var i = 0;
                for (i = 0; i < jsonABI["functions"].length; i++)
                    if (jsonABI["functions"][i]["name"] == "Main") {
                        console.log("Found function 'Main' with id=" + i);
                        break;
                    }
                // get parameters
                $("#contractparams")[0].value = "\"";
                var j = 0;
                console.log("Parameter count:" + jsonABI["functions"][i]["parameters"].length);
                for (j = 0; j < jsonABI["functions"][i]["parameters"].length; j++) {
                    var phex = getHexForType(jsonABI["functions"][i]["parameters"][j]["type"]);
                    console.log("parameter[" + j + "]: " + jsonABI["functions"][i]["parameters"][j]["type"] + " -> hex(" + phex + ")");
                    $("#contractparams")[0].value += phex;
                }
                $("#contractparams")[0].value += "\"";
                // set invoke params to many empty strings (at least one is desirable for now)
                $("#invokeparams")[0].value = "\"\"";
                for (j = 1; j < jsonABI["functions"][i]["parameters"].length; j++)
                    $("#invokeparams")[0].value += " \"\"";
                // get return hexcode
                rettype = JSON.parse($('#codeabi').text())["functions"][i]["returntype"];
                $("#contractreturn")[0].value = getHexForType(rettype);
            },
            "json" // The format the response should be in
        );  //End of POST for Compile

    }); //End of form Compile function

    $("#formsearch").submit(function (e) {
      $("#deploybtn")[0].disabled = true;
      $("#searchbtn")[0].disabled = true;
      $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();
        $.post(
            BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
              $("#deploybtn")[0].disabled = false;
              $("#searchbtn")[0].disabled = false;
              $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
            },
            "json" // The format the response should be in
        ); //End of POST for search

    }); //End of form Compile function


    $("#forminvoke").submit(function (e) {
      $("#deploybtn")[0].disabled = true;
      $("#searchbtn")[0].disabled = true;
      $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $(this).serialize();

        /*
        $.post(
            $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
              $("#deploybtn")[0].disabled = false;
              $("#searchbtn")[0].disabled = false;
              $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
                $("#contractmessagesnotify").text("");
                var indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify");
                while (indexNotify != -1) {
                    var i = 0;
                    var snotify = "";
                    //console.log("found Notiy at "+indexNotify);
                    while ($("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i] != '\n') {
                        snotify += $("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i];
                        i++;
                    }
                    //console.log("NOTIFY:"+snotify);
                    $("#contractmessagesnotify").text($("#contractmessagesnotify").text() + snotify + "\n");
                    indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify", indexNotify + 1);
                }
            },
            "json" // The format the response should be in
        ); */

        $.ajax({
         cache:false,
         type:"POST",
         url:BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
        timeout:120000  // we chose 2 min secs for kicks
        }).done(function(data){
           //alert( "Always of invoke!");
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
             //console.log("output="+data);
             var invokemsg = atob(data.output);
             $("#contractmessages").text(invokemsg);
             $("#contractmessagesnotify").text("");
             var indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify");
             while (indexNotify != -1) {
                 var i = 0;
                 var snotify = "";
                 //console.log("found Notiy at "+indexNotify);
                 while ($("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i] != '\n') {
                     snotify += $("#contractmessages").text()[indexNotify + "SmartContract.Runtime.Notify".length + 40 + 6 + i];
                     i++;
                 }
                 //console.log("NOTIFY:"+snotify);
                 $("#contractmessagesnotify").text($("#contractmessagesnotify").text() + snotify + "\n");
                 indexNotify = $("#contractmessages").text().indexOf("SmartContract.Runtime.Notify", indexNotify + 1);
             }

             //New test for getting last TX link
             updateTXTable($("#contractmessages").text());

        }).fail(function(jqXHR, textStatus){
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for invoke!\n");
        }); //End of ajax for POST invoke

    });//End of invoke function


    $("#formdeploy").submit(function (e) {
        $("#deploybtn")[0].disabled = true;
        $("#searchbtn")[0].disabled = true;
        $("#invokebtn")[0].disabled = true;
        $("#contractmessages").text("");
        $("#contractmessagesnotify").text("");
        e.preventDefault(); // Prevents the page from refreshing
        var $this = $(this); // `this` refers to the current form element
        var indata = $('#formdeploy, #formCompile').serialize();

        //TODO NEOCOMPILER - This ajax is for Jquery 1.8+
        //Current, it seems to be the most suitable  template for this project
        $.ajax({
         cache:false,
         type:"POST",
         url:BASE_ANGULARJS_PATH + $this.attr("action"), // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
         timeout:360000 //6 min timeout
        }).done(function(data){
           //alert( "Always of deploy!");
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           // console.log("output="+data);
           var deploymsg = atob(data.output);
           $("#contractmessages").text(deploymsg);

           //New test for getting last TX link
           updateTXTable($("#contractmessages").text());

        }).fail(function(jqXHR, textStatus){
           //if(textStatus === 'timeout')
           //{
             //alert('Failed from timeout');
             //do something. Try again perhaps?
           //}
           //alert(textStatus);
           //alert(jqXHR);
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for deploying!\n");
        }); //End of ajax for POST deploy

        /*$.post(
            $this.attr("action"), // Gets the URL to sent the post to
            indata, // Serializes form data in standard format
            function (data) {
               $("#deploybtn")[0].disabled = false;
               $("#searchbtn")[0].disabled = false;
               $("#invokebtn")[0].disabled = false;
                //console.log("output="+data);
                var deploymsg = atob(data.output);
                $("#contractmessages").text(deploymsg);
            },
            "json" // The format the response should be in
        );*/

        /*
        $.ajax({
         cache:false,
         type:"POST",
         url:deployUrl, // Gets the URL to sent the post to
         //contentType: "application/json",
         dataType: "json",
         data:indata,
         success: function(data){
           //alert( "Always of deploy!");
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           // console.log("output="+data);
           var deploymsg = atob(data.output);
           $("#contractmessages").text(deploymsg);
         },
         error: function(){
           $("#deploybtn")[0].disabled = false;
           $("#searchbtn")[0].disabled = false;
           $("#invokebtn")[0].disabled = false;
           $("#contractmessages").text("Some unexpected error happened when calling POST for deploying!\n");
         },
         timeout:400000,  // I chose 7min secs for kicks
       }); */

    }); //End of formdeploy function

    function createEditor(name, mode) {
        var editor = ace.edit(name);
        editor.setTheme("ace/theme/clouds");
        editor.session.setMode(mode);
        editor.setAutoScrollEditorIntoView(true);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false,
            maxLines: 30
        });
        editor.commands.addCommand({
            name: "showKeyboardShortcuts",
            bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
            exec: function (editor) {
                ace.config.loadModule("ace/ext/keybinding_menu", function (module) {
                    module.init(editor);
                    //editor.showKeyboardShortcuts() just shows when tigger the hotkey
                })
            }
        })
        return editor
    }
    var editorPython = createEditor("editorPython", "ace/mode/python");
    var editorCSharp = createEditor("editorCSharp", "ace/mode/csharp");
    var cSharpFiles = [
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/HelloWorld/HelloWorld.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/ICO_Template/ICO_Template.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/create_checkwitness/MyCheckWitness/MyCheckWitness.cs"],
        ["https://raw.githubusercontent.com/NeoResearch/examples-csharp/master/Lock/Lock.cs"],
        [
            "https://raw.githubusercontent.com/NeoResearch/examples-csharp/fix_struct_example/StructExample/Point.cs",
            "https://raw.githubusercontent.com/NeoResearch/examples-csharp/fix_struct_example/StructExample/StructExample.cs"
        ]
    ];
    for (var i = 0; i < 5; i++) {
        $("#btn_cs_ex" + (i + 1)).attr("codeIt", i);
        $("#btn_cs_ex" + (i + 1)).click(function (e) {
            e.preventDefault();
            editorCSharp.getSession().setValue("");
            var filesList = cSharpFiles[parseInt($(this).attr("codeIt"))];
            var filesLen = filesList.length;
            for (var j = 0; j < filesLen; j++) {
                var file = filesList[j];
                $.get(file, function (data) {
                    editorCSharp.getSession().setValue(editorCSharp.getSession().getValue() + data);
                });
            }
        });
    }
    function download(file, ext){
        var d = new Date();
        var n = d.getTime();
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, n + ext);
        else { // Others
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = n + ext;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
        }
    }
    $("#btn_downloadOpCode").click(function (e) {
        e.preventDefault();
        mydata = $('#formdeploy').contents().find('#opcodes').val();
        var file = new Blob([mydata],{type:'text/plain'});
        download(file, ".opcodes");
    });
    function downloadAVM(isBin) {

    }
    $("#downloadMenu").click(function(){
        selected_index = $(this).closest('li').index();

        var file = new Blob();
        mydata = localStorage.getItem('avmFile');

        if( selected_index == 0 ) {
            mydata = hex2bin(mydata);
            mydatalist = new Array(mydata.length);
            for(var i = 0; i<mydata.length; i++)
                mydatalist[i] = mydata.charCodeAt(i);

            mybuf = new Uint8Array(mydatalist); // MAGIC???
            file = new Blob([mybuf],{type:'application/octet-stream'});//new Blob([data], {type: type});
        }
        else {
            file = new Blob([mydata],{type:'text/plain'});//new Blob([data], {type: type});
        }
        download(file, ".avm");
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function buttonRemoveRule(idToRemove){
      if(idToRemove < vecRelayedTXs.length && idToRemove > -1)
      {
          vecRelayedTXs.splice(idToRemove, 1);
          drawRelayedTXs();
      }else{
        alert("Cannot remove rule ID " + idToRemove + " from set of rules with size " + priceAlert.length)
      }
    }

    drawRelayedTXs();
    function drawRelayedTXs(){
    	//Clear previous data
    	document.getElementById("divRelayedTXs").innerHTML = "";
    	var table = document.createElement("table");
      table.setAttribute('class', 'table');

      var row = table.insertRow(-1);
      var headers1 = document.createElement('div');
      var headers2 = document.createElement('div');
      var headers3 = document.createElement('div');
      var headers4 = document.createElement('div');
      headers1.innerHTML = "<b> ID </b>";
      row.insertCell(-1).appendChild(headers1);
      headers2.innerHTML = "<b> TX </b>";
      row.insertCell(-1).appendChild(headers2);
      headers3.innerHTML = "<b> Note </b>";
      row.insertCell(-1).appendChild(headers3);
      headers4.innerHTML = "<b> Blockchained </b>";
      row.insertCell(-1).appendChild(headers4);

      for (i = 0; i < vecRelayedTXs.length; i++) {
          var txRow = table.insertRow(-1);
          //row.insertCell(-1).appendChild(document.createTextNode(i));
          //Insert button that remove rule
          var b = document.createElement('button');
          b.setAttribute('content', 'test content');
          b.setAttribute('class', 'btn btn-danger');
          //b.onclick = function () {buttonRemoveRule();};
          b.setAttribute('value', i);
          //b.onclick = function () {alert(this.value);};
          b.onclick = function () {buttonRemoveRule(this.value);};
          b.innerHTML = i;

          txRow.insertCell(-1).appendChild(b);

          var link=document.createElement("a");
          var urlToGet = neoScanTXBaseURL + vecRelayedTXs[i].tx;
          link.appendChild(document.createTextNode(vecRelayedTXs[i].tx));
          link.href = urlToGet;
          link.target = '_blank';
          link.onclick = urlToGet;
          txRow.insertCell(-1).appendChild(link);

          var input = document.createElement("input");
          //input.setAttribute("type", "hidden");
          input.setAttribute("name", "textNote"+i);
          input.setAttribute("value", vecRelayedTXs[i].note);
          txRow.insertCell(-1).appendChild(input);

          //Check activation status
          var activationStatus = document.createElement('div');
          activationStatus.setAttribute('id', "activationStatus"+i);
          activationStatus.innerHTML = "-";

          $.getJSON(urlToGet, function(result) {
              //console.log(result);
              if(result.txid == "not found" || result.vin == null){
                activationStatus.innerHTML = "<font color=\"blue\">PENDING</font>";
              }else{
                activationStatus.innerHTML = "<font color=\"green\">FOUND</font>";
              }
          }).fail(function (result) {
              activationStatus.innerHTML = "<font color=\"red\">FAILED</font>";
          });

          txRow.insertCell(-1).appendChild(activationStatus);
          //Check activation status ends
    	}//Finishes loop that draws each relayed transaction

      document.getElementById("divRelayedTXs").appendChild(table);
      searchForTXs();
    }//Finishe DrawRules function

   //This function tries to search and verify for all relayed TXs that were, possible, broadcasted and included in the blockchain
   function searchForTXs(){
     for (i = 0; i < vecRelayedTXs.length; i++)
      searchForTX(i);
   }

   //This function tries to search and verify for a specific relayed TX that was, possible, broadcasted and included in the blockchain
   function searchForTX(indexToUpdate){
          var urlToGet = neoScanTXBaseURL + vecRelayedTXs[indexToUpdate].tx;
          //console.log("urlToGet:" + urlToGet);
          $.getJSON(urlToGet, function(result) {
              //console.log("div is activationStatus"+indexToUpdate);
              if(result.txid == "not found" || result.vin == null){
                document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"blue\">PENDING</font>";
              }else{
                document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"green\">FOUND</font>";
              }
          }).fail(function (result) {
              document.getElementById("activationStatus"+indexToUpdate).innerHTML = "<font color=\"red\">FAILED</font>";
          });
   }

   function updateTXTable(contractMessagesBox){
     var indexRelayedTx = contractMessagesBox.indexOf("relayed TX");
     var relayedTX = "";
     if(indexRelayedTx != -1)
     {
           //relayedTX = $("#contractmessages").text()[indexRelayedTx, 64];
           for(var i = 0; i<64; i++)
                 relayedTX += contractMessagesBox[indexRelayedTx + 11 + i];
           //console.log("Relayed tx is:"+relayedTX);
           //document.getElementById("link2").setAttribute("href",neoScanTXBaseURL + relayedTX);
           vecRelayedTXs.push({tx:relayedTX, note:"Personal tx note"});
           drawRelayedTXs();
     }
   }

</script>
