<!DOCTYPE html>
<html>
    <head>

        <!-- Meta-Information -->
        <title>NeoCompiler - Conversor</title>
        <meta charset="utf-8">
        <meta name="description" content="Neocompiler.io conversor">
    
        <!-- Bootstrap Stylesheets -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Javascripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <form id="str2hash" action="" style="margin-left: 10%">
                <p>Convert String to Hex</p>
                <input id="stringtohash" placeholder="String to Hash"/>
                <button type="submit" id="strtohash" style="margin-left: 10px;" class="btn btn-info btn-sm">String to hash</button>
                <input id="stringtohash2" style="background-color:#eeeeee; margin-left: 10px;" readonly="readonly"/>
        </form>
        <script>
            $("#str2hash").submit(function (e) {
                e.preventDefault(); // Prevents the page from refreshing
                var i = 0;
                $("#stringtohash2").val("");
                for (i = 0; i < $("#stringtohash").val().length; i++) {
                    $("#stringtohash2").val($("#stringtohash2").val() + $("#stringtohash").val().charCodeAt(i).toString(16));
                }
            });
        </script>
    </body>
</html>

