<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Utils</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked"  data-tab data-options="deep_linking: true">
              <li class="active"><a data-target="#conversor"  data-toggle="tab">Conversors</a></li>
              <li><a data-target="#wallet"  data-toggle="tab" onclick="populateWalletData()">Wallets</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="conversor">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Convert String to Hex</div>
                        <div class="panel-body">
                            <form id="str2hash" action="">
                                <input id="stringtohash" placeholder="String to Hash" style="width: 40%"/>
                                <button type="submit" id="strtohash" style="margin-left: 1%; width: 15%;" class="btn btn-info btn-sm">String to hash</button>
                                <input id="stringtohash2" style="background-color:#eeeeee; margin-left: 1%; width: 41%" readonly="readonly"/>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Revert Hex String</div>
                        <div class="panel-body">
                            <form id="frmreverse" action="">
                                <input id="hexstring" placeholder="Hex String to Reverse" style="width: 40%"/>
                                <button type="submit" id="doreverse" style="margin-left: 1%; width: 15%;" class="btn btn-info btn-sm">Reverse Hex String</button>
                                <input id="reversehexstring" style="background-color:#eeeeee; margin-left: 1%; width: 41%" readonly="readonly"/>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Disassembly opcodes</div>
                        <div class="panel-body">
                            <form id="disassembly" action="">
                                <textarea id="avmcode" placeholder="AVM code" style="width: 100%"></textarea><br>
                                <button type="submit" id="btnDisassembly" style="margin-top: 1%; margin-bottom: 1%;" class="btn btn-info btn-sm">Disassembly</button><br>
                                <input type="text" id="scripthash" placeholder="Script Hash" style="width: 48%"></input>
                                <input type="text" id="address58" placeholder="Address (Base58)" style="width: 48%; margin-left: 1%"></input><br>
                                <textarea id="opcodes" rows="5" cols="100" style="background-color:#eeeeee; width: 100%; margin-top: 1%" readonly="readonly"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <button type="submit" onClick="populateWalletData()" id="btnReloadall" style="margin-top: 1%; margin-bottom: 1%;" class="btn btn-info btn-sm">Reload All</button><br>
                <div class="tab-pane fade in active" id="wallet">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w1: AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y<br>
                                031a6c6fbbdf02ca351745fa86b9ba5a9452d785ac4f7fc2b7548ca2a46c4fcf4a
                        </div>
                        <div class="panel-body">
                                <textarea id="w1Data" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>
                                <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y"
                                    target="popup"
                                    onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y','popup','width=600,height=600'); return false;">
                                    more details
                                </a>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w2: APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL<br>
                                036245f426b4522e8a2901be6ccc1f71e37dc376726cc6665d80c5997e240568fb<br>
                        </div>
                        <div class="panel-body">
                                <textarea id="w2Data" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>
                                <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL"
                                    target="popup"
                                    onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL','popup','width=600,height=600'); return false;">
                                    more details
                                </a>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w3: AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx<br>
                                0303897394935bb5418b1c1c4cf35513e276c6bd313ddd1330f113ec3dc34fbd0d<br>
                        </div>
                        <div class="panel-body">
                                <textarea id="w3Data" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>
                                <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx"
                                    target="popup"
                                    onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx','popup','width=600,height=600'); return false;">
                                    more details
                                </a>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w4: AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9<br>
                                02e2baf21e36df2007189d05b9e682f4192a101dcdf07eed7d6313625a930874b4<br>
                        </div>
                        <div class="panel-body">
                                <textarea id="w4Data" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>
                                <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9"
                                    target="popup"
                                    onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9','popup','width=600,height=600'); return false;">
                                    more details
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function populateWalletData()
        {
            var url_w1 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y";
            var url_w2 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL";
            var url_w3 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx";
            var url_w4 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9";
            $.getJSON(url_w1, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w1Data")[0].value = data;
            });
            $.getJSON(url_w2, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w2Data")[0].value = data;
            });
            $.getJSON(url_w3, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w3Data")[0].value = data;
            });
            $.getJSON(url_w4, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w4Data")[0].value = data;
            });
        }

        $("#disassembly").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var hexavm = $("#avmcode")[0].value;
            hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
            var bitshash160 = sjcl.hash.ripemd160.hash(sjcl.hash.sha256.hash(sjcl.codec.hex.toBits(hexavm)));
            var shash = revertHexString(sjcl.codec.hex.fromBits(bitshash160));
            $("#scripthash")[0].value = shash;
            $("#address58")[0].value = toBase58(shash);
            $("#opcodes").text("" + (hexavm.length/2) + "bytes\n");
            printOpcode(hexavm, $("#opcodes"));
        });

        $("#str2hash").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var i = 0;
            $("#stringtohash2").val("");
            for (i = 0; i < $("#stringtohash").val().length; i++) {
                $("#stringtohash2").val($("#stringtohash2").val() + $("#stringtohash").val().charCodeAt(i).toString(16));
            }
        });
        $("#frmreverse").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            $("#reversehexstring").val( revertHexString($("#hexstring").val()) );
        });
    </script>
</div>
