<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Utils</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a data-target="#conversor" data-toggle="tab">Conversors</a></li>
              <li><a data-target="#transaction"  data-toggle="tab">Transaction</a></li>
              <li><a data-target="#wallet"  data-toggle="tab" onclick="populateWalletData()">Wallets</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="conversor">
                    <div class="panel panel-primary">
                        <div class="panel-heading">String to Hex</div>
                        <div class="panel-body">
                            <form id="str2hash" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="stringtohash">String</label>
                                    <input id="stringtohash" class="form-control" placeholder="String to Hash"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="strtohash" class="btn btn-info btn-sm">to hash</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="stringtohash2">Hash</label>
                                    <input id="stringtohash2" class="form-control" readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Revert Hex String</div>
                        <div class="panel-body">
                            <form id="frmreverse" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="hexstring">Input</label>
                                    <input id="hexstring" class="form-control" placeholder="Hex String to Reverse"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="doreverse" class="btn btn-info btn-sm">Reverse</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="reversehexstring">Output</label>
                                    <input id="reversehexstring" class="form-control" readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Address <-> ScriptHash</div>
                        <div class="panel-body">
                            <form id="addressscripthash" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="address">Address</label>
                                    <input id="address" class="form-control" placeholder="Address"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <button onClick="address2scripthash()" class="btn btn-info btn-sm" style="margin-bottom: 10px; width: 100%">to ScriptHash</button>
                                    <button onClick="scripthash2address()" class="btn btn-info btn-sm" style="width: 100%">to Address</button>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="scripthash">ScriptHash</label>
                                    <input id="scripthash" class="form-control" placeholder="ScriptHash"/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Disassembly opcodes</div>
                        <div class="panel-body">
                            <form id="frm_disassembly" action="">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="avmcode">AVM hex</label>
                                    <textarea id="avmcode" class="form-control" placeholder="AVM code"></textarea>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <button type="submit" id="btnDisassembly" class="btn btn-info btn-sm">Disassembly</button>
                                </div>
                                <div class="col-md-6">
                                  <label for="sc_scripthash">ScriptHash</label>
                                  <input type="text" id="sc_scripthash" class="form-control" placeholder="Script Hash"></input>
                                </div>
                                <div class="col-md-6">
                                  <label for="sc_address58">Address</label>
                                  <input type="text" id="sc_address58" class="form-control" placeholder="Address (Base58)"></input>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="opcodes">OpCodes</label>
                                    <textarea id="opcodes" class="form-control" rows="5" cols="100" readonly></textarea>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Convert Number into Fixed8 Hex</div>
                        <div class="panel-body">
                            <form id="num2fixed8" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="num2convert">Number</label>
                                    <input type="number" id="num2convert" class="form-control" placeholder="number"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="num2fixed8btn"class="btn btn-info btn-sm">Convert</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="numconverted">Fixed8</label>
                                    <input id="numconverted" class="form-control"readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="transaction">
                  <div class="panel panel-primary">
                      <div class="panel-heading">Invoke neo nodes (JSON RPC)</div>
                      <div class="panel-body">
                          <form id="frmRPCJson" action="">
                            <div class="row">
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label for="rpcMethod">Method (view <a href="http://docs.neo.org/en-us/node/api.html" target="_blank">Official API</a> or put cursor on top for tooltip)</label>
                                  <select name="rpcMethod" id="rpcMethod" class="custom-select form-control">
                                    <option title=":Gets the number of blocks in the main chain">getblockcount</option>
                                    <option title="<address> :	Export the private key of the specified address (Need to open the wallet)">dumpprivkey</option>
                                    <option title="<address> :	Check account asset information according to account address">getaccountstate</option>
                                    <option title="<txid>[verbose=0]: Returns the contract log based on the specified txid (Need to enable logging)">getapplicationlog</option>
                                    <option title="<asset_id> :	Query asset information according to the specified asset number">getassetstate</option>
                                    <option title="<asset_id> : Returns the balance of the corresponding asset in the wallet according to the specified asset number (Need to open the wallet)">getbalance</option>
                                    <option title=": Gets the hash of the tallest block in the main chain">getbestblockhash</option>
                                    <option title="<hash> [verbose=0]:	Returns the corresponding block information according to the specified hash value">getblock</option>
                                    <option title="<index> [verbose=0]: 	Returns the corresponding block information according to the specified index">getblock</option>
                                    <option title="<index>: 	Returns the hash value of the corresponding block based on the specified index">getblockhash</option>
                                    <option title="<index>: 	Returns the system fees before the block according to the specified index">getblocksysfee</option>
                                    <option title=": Gets the current number of connections for the node">getconnectioncount</option>
                                    <option title="<script_hash>: 	Returns information about the contract based on the specified script hash">getcontractstate</option>
                                    <option title=": Create a new address (Need to open the wallet)">getnewaddress</option>
                                    <option title=": Get a list of unconfirmed transactions in memory">getrawmempool</option>
                                    <option title="<txid> [verbose=0]: 	Returns the corresponding transaction information based on the specified hash value">getrawtransaction</option>
                                    <option title="<script_hash> <key>: 	Returns the stored value based on the contract script hash and key">getstorage</option>
                                    <option title="<txid> <n>: 	Returns the corresponding transaction output (change) information based on the specified hash and index">gettxout</option>
                                    <option title=": Get a list of nodes that are currently connected/disconnected by this node">getpeers</option>
                                    <option title=": Get version information of this node">getversion</option>
                                    <option title="<script_hash> <params>:	Invokes a smart contract at specified script hash with the given parameters">invoke</option>
                                    <option title="<script_hash> <operation> <params>:	Invokes a smart contract at specified script hash, passing in an operation and its params">invokefunction</option>
                                    <option title="<script>: 	Runs a script through the virtual machine and returns the results">invokescript</option>
                                    <option title=": Lists all the addresses in the current wallet (Need to open the wallet)">listaddress</option>
                                    <option title="<hex>: 	Broadcast a transaction over the network. See the network protocol documentation.">sendrawtransaction</option>
                                    <option title="<asset_id> <address> <value> [fee=0]: 	Transfer to specified address (Need to open the wallet)">sendtoaddress</option>
                                    <option title="<outputs_array> [fee=0] [change_address]: 	Bulk transfer order (Need to open the wallet)">sendmany</option>
                                    <option title="<hex>: 	Submit new blocks (Needs to be a consensus node)">submitblock</option>
                                    <option title="<address>:	Verify that the address is a correct NEO address 	">validateaddress</option>
                                    <option title=": create your invoke function manually!"></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <button type="submit" id="btnGenerateJsonRPC"class="btn btn-info btn-sm">Generate JSON</button>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label for="txtRPCJson">RPC Json Model</label>
                                  <textarea id="txtRPCJson" class="form-control"/>
                                </div>
                              </div>
                            </div>
                          </form>
                          <form id="frmRPCJson2" action="">
                            <div class="row">
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label for="neonodeurl">Neo node URL (ex: http://localhost:30335)</label>
                                  <select id="selRPCNetwork">
                                    <option title="https://node1.neocompiler.io" value="https://node1.neocompiler.io">neocompiler.io (shared privatenet)</option>
                                    <option title="http://localhost:30335" value="http://localhost:30335">localhost (privatenet)</option>
                                    <option title="https://seed1.neo.org:20331" value="https://seed1.neo.org:20331">NEO TestNet</option>
                                    <option title="https://seed1.neo.org:10331" value="https://seed1.neo.org:10331">NEO MainNet</option>
                                  </select>
                                  <input type="text" id="neonodeurl" class="form-control" placeholder="network, ex: http://localhost:30335" value="https://node1.neocompiler.io"/>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <button type="submit" id="btnCallJsonRPC"class="btn btn-info btn-sm">RPC Call JSON</button>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label for="txtRPCJsonOut">Output RPC</label>
                                  <textarea id="txtRPCJsonOut" class="form-control" readonly/>
                                </div>
                              </div>
                            </div>
                          </form>
                      </div>
                  </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Create TX: Transfer UTXO Assets</div>
                        <div class="panel-body">
                            <form id="createtx" action="">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_from">From(Address)</label>
                                    <input id="createtx_from" class="form-control" placeholder="From" required/>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_from_privatek">From (Private Key)</label>
                                    <input id="createtx_from_privatek" class="form-control" placeholder="Private Key" required/>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_to">To (Address)</label>
                                    <input id="createtx_to" class="form-control" placeholder="To" required/>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="createtx_NEO">NEO</label>
                                    <input type="number" id="createtx_NEO" class="form-control" placeholder="NEO" required/>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="createtx_GAS">GAS</label>
                                    <input type="number" id="createtx_GAS" class="form-control" placeholder="GAS" required/>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <button type="submit" id="txcreate" class="btn btn-info btn-sm">Create</button>
                                </div>
                              </div>
                           </form>
                         </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Create TX: Withdraw UTXO Assets from Contract</div>
                    <div class="panel-body">
                        <form id="createtx_contract" action="">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="createtx_from_contract">From: Verification contract (Wallet Script) in hex</label>
                                <textarea id="createtx_from_contract" class="form-control" placeholder="From Contract Hex Script"/>
                                <label for="createtx_from_scripthash">Scripthash (readonly)</label>
                                <input id="createtx_from_scripthash" class="form-control" placeholder="scripthash" required readonly/>
                                <label for="createtx_from_address">Address (readonly)</label>
                                <input id="createtx_from_address" class="form-control" placeholder="address" required readonly/>
                                <label for="createtx_from_verification">Verification (Withdraw Script) in hex</label>
                                <textarea id="createtx_from_verification" class="form-control" placeholder="Verification/Withdraw Hex Script" required/>
                                <label for="createtx_from_verification_opcodes">Verification/Withdraw script opcodes (readonly)</label>
                                <textarea id="createtx_from_verification_opcodes" class="form-control" placeholder="Verification/Withdraw Hex Script Opcodes" readonly/>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="createtx_selRPCNetwork">Network</label>
                                <select id="createtx_selRPCNetwork">
                                  <option title="https://node1.neocompiler.io" value="https://node1.neocompiler.io">neocompiler.io (shared privatenet)</option>
                                  <option title="http://localhost:30335" value="http://localhost:30335">localhost (privatenet)</option>
                                  <option title="https://seed1.neo.org:20331" value="https://seed1.neo.org:20331">NEO TestNet</option>
                                  <option title="https://seed1.neo.org:10331" value="https://seed1.neo.org:10331">NEO MainNet</option>
                                </select><br/>
                                <label for="createtx_input_utxo">Input UTXO Asset</label>
                                <select id="createtx_input_assetid" required>
                                  <option value="">Select to get value</option>
                                  <option value="c56f33fc6ecfcd0c225c4ab356fee59390af8560be0e930faebe74a6daff7c9b">NEO</option>
                                  <option value="602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7">GAS</option>
                                </select><br/>
                                <label for="createtx_input_utxo">Input UTXO (TODO: include more)</label>
                                <input id="createtx_input_utxo" class="form-control" placeholder="Input UTXO" required/>
                                <br/>
                                <label for="createtx_input_utxo_value">Input UTXO Value</label>
                                <input id="createtx_input_utxo_value" class="form-control" placeholder="Input UTXO value" required readonly/>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="createtx_output_addresses">Output/To Addresses (One per line)</label>
                                <textarea id="createtx_output_addresses" class="form-control" placeholder="Address1 \n Address2 \n OriginalAddress (For Change)" required/>
                                <label for="createtx_output_addresses">Output/To Values (One per line. Don't forget the change back!)</label>
                                <textarea id="createtx_output_values" class="form-control" placeholder="1 \n 5 \n 3" required/>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="createtx_signature">Signature (Optional)</label>
                                <input id="createtx_signature" class="form-control" placeholder="Signature" required readonly/>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <button type="submit" id="txcreatess" class="btn btn-info btn-sm">Create (TODO)</button>
                            </div>
                          </div>
                       </form>
                     </div>
                   </div>
                </div>

                <div class="tab-pane fade" id="wallet">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="walletnetworkjs" class="custom-select form-control">
                              <option>Eco-privatenet</option>
                              <!-- <option>NEO-testnet</option> TODO! -->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" onClick="showPersistWallet()" id="btnNewWallet" class="btn btn-success btn-sm">Add Wallet</button>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button type="submit" onClick="populateWalletData()" id="btnReloadall" class="btn btn-info btn-sm">Reload All</button>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w1: base58Address: AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y<br>
                                publickey: 031a6c6fbbdf02ca351745fa86b9ba5a9452d785ac4f7fc2b7548ca2a46c4fcf4a<br>
                                WIF: KxDgvEKzgSBPPfuVfw67oPQBSjidEiqTHURKSDL1R7yGaGYAeYnr<br>
                                privatekey: 1dd37fba80fec4e6a6f13fd708d8dcb3b29def768017052f6c930fa1c5d90bbb
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w1Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y"
                                target="popup"
                                onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y','popup','width=600,height=600'); return false;">
                                more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w2: APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL<br>
                                036245f426b4522e8a2901be6ccc1f71e37dc376726cc6665d80c5997e240568fb<br>
                                WIF: L56SWKLsdynnXTHScMdNjsJRgbtqcf9p5TUgSAHq242L2yD8NyrA
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w2Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w3: AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx<br>
                                0303897394935bb5418b1c1c4cf35513e276c6bd313ddd1330f113ec3dc34fbd0d<br>
                                WIF: KwNkjjrC5BLwG7bQuzuVbFb5J4LN38o1A8GDX4eUEL1JRNcVNs9p
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w3Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w4: AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9<br>
                                02e2baf21e36df2007189d05b9e682f4192a101dcdf07eed7d6313625a930874b4<br>
                                WIF: KxPHsCAWkxY9bgNjAiPmQD87ckAGR79z41GtwZiLwxdPo7UmqFXV
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w4Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="persistWallet" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Wallet</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="persistWalletName">Name</label>
                        <input type="text" id="persistWalletName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="persistWalletHash">Base58 Address</label>
                        <input type="text" id="persistWalletHash" class="form-control" placeholder="ex: AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y. TODO: pass publickey (for view-only) or NEP-2 privatekey"  />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitPersistWallet">Create</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            setInterval(function() {
                populateWalletData();
            }, 30000); // 30000 milsec
            console.log("checking wallets");
        });

        function showPersistWallet() {
          $('#persistWallet').modal('show')
        }

        function closePersistWallet() {
          $('#persistWalletName').val('')
          $('#persistWalletHash').val('')
          $('#persistWallet').modal('hide')
        }

        function persistWallet()
        {
          // TODO: persist into Webserver
          var name = $('#persistWalletName').val()
          var hash = $('#persistWalletHash').val()

          var html = '<div class="panel panel-primary">' +
            '<div class="panel-heading">'

          html += name + ': ' + hash

          html += '<br>' +
            '</div>' +
            '<div class="panel-body">' +
            '  <textarea class="wallet-view" id="'

          html += hash

          html += '" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>' +
            '  <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/'

          html += hash

          html += '"' +
            '  target="popup"' +
            '  onclick="window.open(NEOSCAN_PATH + \'/api/main_net/v1/get_balance/'

          html += hash

          html += '\',\'popup\',\'width=600,height=600\'); return false;">' +
            '  more details' +
            '</a></div></div>'

          $('#wallet').prepend(html)
          closePersistWallet()

          populatePersistedWalletData(hash)
        }

        function populatePersistedWalletData(hash) {
          console.log(hash)
          url = NEOSCAN_PATH + "/api/main_net/v1/get_balance/" + hash
          $.getJSON(url, function(result) {
            var data = "";
            data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
            data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
            $("#" + hash).val(data);
          });
        }

        function populateWalletData()
        {
            var url_w1 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y";
            var url_w2 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL";
            var url_w3 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx";
            var url_w4 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9";
            $.getJSON(url_w1, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w1Data")[0].value = data;
            });
            $.getJSON(url_w2, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w2Data")[0].value = data;
            });
            $.getJSON(url_w3, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w3Data")[0].value = data;
            });
            $.getJSON(url_w4, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w4Data")[0].value = data;
            });
        }

        $("#frm_disassembly").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var hexavm = $("#avmcode")[0].value;
            hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
            var shash = getScriptHashFromAVM(hexavm);
            $("#sc_scripthash")[0].value = shash;
            $("#sc_address58")[0].value = toBase58(shash);
            $("#opcodes").text("" + (hexavm.length/2) + " bytes\n");
            printOpcode(hexavm, $("#opcodes"));
        });

        $("#str2hash").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var i = 0;
            $("#stringtohash2").val("");
            for (i = 0; i < $("#stringtohash").val().length; i++) {
                $("#stringtohash2").val($("#stringtohash2").val() + $("#stringtohash").val().charCodeAt(i).toString(16));
            }
        });
        $("#frmreverse").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            $("#reversehexstring").val( revertHexString($("#hexstring").val()) );
        });

        $("#num2fixed8").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            const a = new Neon.u.Fixed8(parseInt($("#num2convert").val()));
            $("#numconverted").val(a.toHex());
        });

        $("#frmRPCJson").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            $("#txtRPCJson").val("{ \"jsonrpc\": \"2.0\", \"id\": 5, \"method\": \""+$("#rpcMethod").val()+"\", \"params\": [\"\"] }");
        });

        $("#selRPCNetwork").on('change', function() {
            $("#neonodeurl")[0].value = this.value;
        });

        $("#frmRPCJson2").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            $("#txtRPCJsonOut").val("");
            //curl -s -X POST http://localhost:30335 -H 'Content-Type: application/json' -d '{ "jsonrpc": "2.0", "id": 5, "method": "dumpprivkey", "params": ["AWLYWXB8C9Lt1nHdDZJnC5cpYJjgRDLk17"] }'
            $.post(
                $("#neonodeurl")[0].value, // Gets the URL to sent the post to
                $("#txtRPCJson").val(), // Serializes form data in standard format
                function (data) {
                  $("#txtRPCJsonOut").val(JSON.stringify(data));
                },
                "json" // The format the response should be in
            ).fail(function() {
                $("#txtRPCJsonOut").val("failed to invoke network!");
            }); //End of POST for search
        });

        $("#createtx").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            CreateTx($("#createtx_from").val(), $("#createtx_from_privatek").val(), $("#createtx_to").val(), $("#createtx_NEO").val(), $("#createtx_GAS").val());
        });

        $("#createtx_from_contract").on('keyup', function () {
            var hexavm = $("#createtx_from_contract").val();
            hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
            var shash = getScriptHashFromAVM(hexavm);
            $("#createtx_from_scripthash")[0].value = shash;
            $("#createtx_from_address")[0].value = toBase58(shash);
        });

        $("#createtx_from_verification").on('keyup', function () {
            var hexavm = $("#createtx_from_verification").val();
            hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
            $("#createtx_from_verification_opcodes").val("");
            $("#createtx_from_verification_opcodes").text("" + (hexavm.length/2) + " bytes\n");
            printOpcode(hexavm, $("#createtx_from_verification_opcodes"));
        });

        $('#submitPersistWallet').click(function (e) {
          persistWallet();
        });

        function address2scripthash()
        {
          if( $("#address").val() == "" ) return;
          $("#scripthash").val( fromBase58($("#address").val()) );
        }

        function scripthash2address()
        {
          if( $("#scripthash").val() == "" ) return;
          $("#address").val( toBase58($("#scripthash").val()) );
          //CreateRawTx();
        }
    </script>
</div>
