<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Utils</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 sidenav">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a data-target="#conversor" data-toggle="tab">Conversors</a></li>
              <li><a data-target="#transaction"  data-toggle="tab">Transaction</a></li>
              <li><a data-target="#wallet"  data-toggle="tab" onclick="populateWalletData()">Wallets</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="conversor">
                    <div class="panel panel-primary">
                        <div class="panel-heading">String to Hex</div>
                        <div class="panel-body">
                            <form id="str2hash" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="stringtohash">String</label>
                                    <input id="stringtohash" class="form-control" placeholder="String to Hash"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="strtohash" class="btn btn-info btn-sm">to hash</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="stringtohash2">Hash</label>
                                    <input id="stringtohash2" class="form-control" readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Revert Hex String</div>
                        <div class="panel-body">
                            <form id="frmreverse" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="hexstring">Input</label>
                                    <input id="hexstring" class="form-control" placeholder="Hex String to Reverse"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="doreverse" class="btn btn-info btn-sm">Reverse</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="reversehexstring">Output</label>
                                    <input id="reversehexstring" class="form-control" readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Address <-> ScriptHash</div>
                        <div class="panel-body">
                            <form id="addressscripthash" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="address">Address</label>
                                    <input id="address" class="form-control" placeholder="Address"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <button onClick="address2scripthash()" class="btn btn-info btn-sm" style="margin-bottom: 10px; width: 100%">to ScriptHash</button>
                                    <button onClick="scripthash2address()" class="btn btn-info btn-sm" style="width: 100%">to Address</button>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="scripthash">ScriptHash</label>
                                    <input id="scripthash" class="form-control" placeholder="ScriptHash"/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Disassembly opcodes</div>
                        <div class="panel-body">
                            <form id="frm_disassembly" action="">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="avmcode">AVM hex</label>
                                    <textarea id="avmcode" class="form-control" placeholder="AVM code"></textarea>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <button type="submit" id="btnDisassembly" class="btn btn-info btn-sm">Disassembly</button>
                                </div>
                                <div class="col-md-6">
                                  <label for="sc_scripthash">ScriptHash</label>
                                  <input type="text" id="sc_scripthash" class="form-control" placeholder="Script Hash"></input>
                                </div>
                                <div class="col-md-6">
                                  <label for="sc_address58">Address</label>
                                  <input type="text" id="sc_address58" class="form-control" placeholder="Address (Base58)"></input>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="opcodes">OpCodes</label>
                                    <textarea id="opcodes" class="form-control" rows="5" cols="100" readonly></textarea>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Convert Number into Fixed8 Hex</div>
                        <div class="panel-body">
                            <form id="num2fixed8" action="">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="num2convert">Number</label>
                                    <input type="number" id="num2convert" class="form-control" placeholder="number"/>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <button type="submit" id="num2fixed8btn"class="btn btn-info btn-sm">Convert</button>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="numconverted">Fixed8</label>
                                    <input id="numconverted" class="form-control"readonly/>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="transaction">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Create TX</div>
                        <div class="panel-body">
                            <form id="createtx" action="">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_from">From(Address)</label>
                                    <input id="createtx_from" class="form-control" placeholder="From" required/>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_from_privatek">From (Private Key)</label>
                                    <input id="createtx_from_privatek" class="form-control" placeholder="Private Key" required/>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="createtx_to">To (Address)</label>
                                    <input id="createtx_to" class="form-control" placeholder="To" required/>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="createtx_NEO">NEO</label>
                                    <input type="number" id="createtx_NEO" class="form-control" placeholder="NEO" required/>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="createtx_GAS">GAS</label>
                                    <input type="number" id="createtx_GAS" class="form-control" placeholder="GAS" required/>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <button type="submit" id="txcreate" class="btn btn-info btn-sm">Create</button>
                                </div>
                              </div>
                           </form>
                         </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="wallet">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="walletnetworkjs" class="custom-select form-control">
                              <option>Eco-privatenet</option>
                              <!-- <option>NEO-testnet</option> TODO! -->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" onClick="showPersistWallet()" id="btnNewWallet" class="btn btn-success btn-sm">Add Wallet</button>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button type="submit" onClick="populateWalletData()" id="btnReloadall" class="btn btn-info btn-sm">Reload All</button>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w1: AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y<br>
                                031a6c6fbbdf02ca351745fa86b9ba5a9452d785ac4f7fc2b7548ca2a46c4fcf4a<br>
                                WIF: KxDgvEKzgSBPPfuVfw67oPQBSjidEiqTHURKSDL1R7yGaGYAeYnr
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w1Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y"
                                target="popup"
                                onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y','popup','width=600,height=600'); return false;">
                                more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w2: APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL<br>
                                036245f426b4522e8a2901be6ccc1f71e37dc376726cc6665d80c5997e240568fb<br>
                                WIF: L56SWKLsdynnXTHScMdNjsJRgbtqcf9p5TUgSAHq242L2yD8NyrA
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w2Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w3: AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx<br>
                                0303897394935bb5418b1c1c4cf35513e276c6bd313ddd1330f113ec3dc34fbd0d<br>
                                WIF: KwNkjjrC5BLwG7bQuzuVbFb5J4LN38o1A8GDX4eUEL1JRNcVNs9p
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w3Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            w4: AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9<br>
                                02e2baf21e36df2007189d05b9e682f4192a101dcdf07eed7d6313625a930874b4<br>
                                WIF: KxPHsCAWkxY9bgNjAiPmQD87ckAGR79z41GtwZiLwxdPo7UmqFXV
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <textarea id="w4Data" class="form-control" readonly></textarea>
                            </div>
                            <div class="col-md-12">
                              <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9"
                                  target="popup"
                                  onclick="window.open(NEOSCAN_PATH + '/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9','popup','width=600,height=600'); return false;">
                                  more details
                              </a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="persistWallet" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Wallet</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="persistWalletName">Name</label>
                        <input type="text" id="persistWalletName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="persistWalletHash">Base58 Address</label>
                        <input type="text" id="persistWalletHash" class="form-control" placeholder="ex: AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y. TODO: pass publickey (for view-only) or NEP-2 privatekey"  />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitPersistWallet">Create</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            setInterval(function() {
                populateWalletData();
            }, 30000); // 30000 milsec
            console.log("checking wallets");
        });

        function showPersistWallet() {
          $('#persistWallet').modal('show')
        }

        function closePersistWallet() {
          $('#persistWalletName').val('')
          $('#persistWalletHash').val('')
          $('#persistWallet').modal('hide')
        }

        function persistWallet()
        {
          // TODO: persist into Webserver
          var name = $('#persistWalletName').val()
          var hash = $('#persistWalletHash').val()

          var html = '<div class="panel panel-primary">' +
            '<div class="panel-heading">'

          html += name + ': ' + hash

          html += '<br>' +
            '</div>' +
            '<div class="panel-body">' +
            '  <textarea class="wallet-view" id="'

          html += hash

          html += '" style="width: 100%; height: 50px;" readonly="readonly"></textarea><br>' +
            '  <a href=NEOSCAN_PATH + "/api/main_net/v1/get_balance/'

          html += hash

          html += '"' +
            '  target="popup"' +
            '  onclick="window.open(NEOSCAN_PATH + \'/api/main_net/v1/get_balance/'

          html += hash

          html += '\',\'popup\',\'width=600,height=600\'); return false;">' +
            '  more details' +
            '</a></div></div>'

          $('#wallet').prepend(html)
          closePersistWallet()

          populatePersistedWalletData(hash)
        }

        function populatePersistedWalletData(hash) {
          console.log(hash)
          url = NEOSCAN_PATH + "/api/main_net/v1/get_balance/" + hash
          $.getJSON(url, function(result) {
            var data = "";
            data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
            data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
            $("#" + hash).val(data);
          });
        }

        function populateWalletData()
        {
            var url_w1 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y";
            var url_w2 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/APLJBPhtRg2XLhtpxEHd6aRNL7YSLGH2ZL";
            var url_w3 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AXxCjds5Fxy7VSrriDMbCrSRTxpRdvmLtx";
            var url_w4 = NEOSCAN_PATH + "/api/main_net/v1/get_balance/AQaJZTKshTQzcCKmsaoNVrtSP1pEB3Utn9";
            $.getJSON(url_w1, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w1Data")[0].value = data;
            });
            $.getJSON(url_w2, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w2Data")[0].value = data;
            });
            $.getJSON(url_w3, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w3Data")[0].value = data;
            });
            $.getJSON(url_w4, function(result) {
                var data = "";
                data += result.balance[0].amount + " " + result.balance[0].asset + "\n";
                data += result.balance[1].amount + " " + result.balance[1].asset + "\n";
                $("#w4Data")[0].value = data;
            });
        }

        $("#frm_disassembly").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var hexavm = $("#avmcode")[0].value;
            hexavm = hexavm.replace(/(\r\n|\n|\r)/gm, "");
            var shash = getScriptHashFromAVM(hexavm);
            $("#sc_scripthash")[0].value = shash;
            $("#sc_address58")[0].value = toBase58(shash);
            $("#opcodes").text("" + (hexavm.length/2) + "bytes\n");
            printOpcode(hexavm, $("#opcodes"));
        });

        $("#str2hash").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            var i = 0;
            $("#stringtohash2").val("");
            for (i = 0; i < $("#stringtohash").val().length; i++) {
                $("#stringtohash2").val($("#stringtohash2").val() + $("#stringtohash").val().charCodeAt(i).toString(16));
            }
        });
        $("#frmreverse").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            $("#reversehexstring").val( revertHexString($("#hexstring").val()) );
        });

        $("#num2fixed8").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            const a = new Neon.u.Fixed8(parseInt($("#num2convert").val()));
            $("#numconverted").val(a.toHex());
        });

        $("#createtx").submit(function (e) {
            e.preventDefault(); // Prevents the page from refreshing
            CreateTx($("#createtx_from").val(), $("#createtx_from_privatek").val(), $("#createtx_to").val(), $("#createtx_NEO").val(), $("#createtx_GAS").val());
        });

        $('#submitPersistWallet').click(function (e) {
          persistWallet();
        });

        function address2scripthash()
        {
          if( $("#address").val() == "" ) return;
          $("#scripthash").val( fromBase58($("#address").val()) );
        }

        function scripthash2address()
        {
          if( $("#scripthash").val() == "" ) return;
          $("#address").val( toBase58($("#scripthash").val()) );
          //CreateRawTx();
        }
    </script>
</div>
